Repository hyperledger/iroha, pull requests merged in 2018-05, with the labels that each got.

#1279 Feature/mst expired
  irohad/model/transaction_response.hpp
  irohad/multi_sig_transactions/mst_time_provider.hpp
  schema/endpoint.proto
  shared_model/backend/protobuf/transaction_responses/proto_concrete_tx_response.hpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/interfaces/transaction_responses/mst_expired_response.hpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/shared_model/builders/transaction_responses/transaction_response_builder_test.cpp
Labels: mst

#1273 Use observable for OS proposal timeout
  irohad/main/impl/ordering_init.cpp
  irohad/ordering/impl/ordering_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  test/integration/CMakeLists.txt
  test/integration/transport/CMakeLists.txt
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/ordering_service_test.cpp
Labels: needs-review

#1294 Remove old random number gen
  irohad/model/generators/CMakeLists.txt
  irohad/model/generators/impl/signature_generator.cpp
  libs/generator/generator.cpp
  libs/generator/generator.hpp
  test/module/irohad/model/converters/json_query_factory_test.cpp
Labels: legacy, needs-review

#1286 Add flag for mst support
  example/config.docker
  example/config.sample
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/iroha_conf_loader.hpp
  irohad/main/irohad.cpp
  irohad/multi_sig_transactions/CMakeLists.txt
  irohad/multi_sig_transactions/impl/mst_processor_stub.cpp
  irohad/multi_sig_transactions/mst_processor.hpp
  irohad/multi_sig_transactions/mst_processor_impl.hpp
  irohad/multi_sig_transactions/mst_processor_stub.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
Labels: mst, needs-review

#1246 Refactor/move query execution
  irohad/ametsuchi/CMakeLists.txt
  irohad/execution/CMakeLists.txt
  irohad/execution/impl/query_execution.cpp
  irohad/execution/query_execution.hpp
  irohad/model/CMakeLists.txt
  irohad/model/query_execution.hpp
  irohad/torii/processor/CMakeLists.txt
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor_impl.hpp
  test/module/iroha-cli/CMakeLists.txt
  test/module/irohad/model/model_mocks.hpp
  test/module/irohad/torii/CMakeLists.txt
  test/module/irohad/torii/processor/CMakeLists.txt
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/validation/CMakeLists.txt
  test/module/irohad/validation/query_execution.cpp
Labels: legacy, needs-review, query

#1248 Feature/update signature type
  irohad/consensus/yac/impl/supermajority_checker_impl.cpp
  irohad/consensus/yac/impl/supermajority_checker_impl.hpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.cpp
  irohad/consensus/yac/supermajority_checker.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/interfaces/base/signable.hpp
  shared_model/interfaces/common_objects/signable_hash.hpp
  shared_model/interfaces/common_objects/types.hpp
  shared_model/interfaces/iroha_internal/block.hpp
  shared_model/interfaces/queries/query.hpp
  shared_model/interfaces/transaction.hpp
  shared_model/utils/polymorphic_wrapper.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  test/module/irohad/consensus/yac/supermajority_checker_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/shared_model/cryptography/crypto_usage_test.cpp
Labels: needs-review

#1280 YAC Rx timer dependency
  irohad/consensus/yac/impl/timer_impl.cpp
  irohad/consensus/yac/impl/timer_impl.hpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/timer.hpp
  irohad/consensus/yac/yac.hpp
  irohad/main/impl/consensus_init.cpp
  irohad/main/impl/consensus_init.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/timer_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
Labels: needs-review

#1291 add on_commit observable to storage
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/storage.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: ametsuchi, needs-review

#1297 Experimental MSVC shared model build
  cmake/Modules/Finded25519.cmake
  cmake/functions.cmake
  libs/amount/amount.hpp
  libs/common/byteutils.hpp
  libs/common/result.hpp
  libs/common/types.hpp
  shared_model/CMakeLists.txt
  shared_model/backend/protobuf/common_objects/amount.hpp
  shared_model/cmake/dependencies.cmake
  shared_model/interfaces/base/model_primitive.hpp
Labels: windows

#1329 Python docs
  shared_model/packages/python/README.md
Labels: SDK, documentation

#1290 CI fixes
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/previous-commit.groovy
  .jenkinsci/release-build.groovy
  Jenkinsfile
Labels: build-system

#1307 Add prefix with type of test for Ctest names
  cmake/functions.cmake
Labels: build-system

#1311 Feature/java tests
  test/module/shared_model/bindings/BuilderTest.java
  test/module/shared_model/bindings/QueryTest.java
Labels: SDK, tests

#1337 Update names of docker images
  deploy/ansible/roles/iroha-cluster-deploy-node/defaults/main.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/defaults/main.yml
  docs/source/guides/build.rst
  docs/source/guides/deployment.rst
Labels: documentation

#1332 Add Python Tests
  test/module/shared_model/bindings/builder-test.py
  test/module/shared_model/bindings/query-test.py
Labels: SDK, tests

#1328 Automate Docker manifest uploading
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-manifest.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/release-build.groovy
  Jenkinsfile
Labels: build-system

#1204 Feature/amount different precision
  irohad/execution/CMakeLists.txt
  irohad/execution/command_executor.hpp
  irohad/execution/impl/command_executor.cpp
  shared_model/CMakeLists.txt
  shared_model/utils/CMakeLists.txt
  shared_model/utils/amount_utils.cpp
  shared_model/utils/amount_utils.hpp
  test/module/shared_model/CMakeLists.txt
  test/module/shared_model/amount_utils_test.cpp
Labels: command, needs-review

#1338 Reduce integration test execution time
  irohad/ametsuchi/impl/postgres_block_query.cpp
  test/framework/base_tx.hpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/create_account_test.cpp
  test/integration/acceptance/create_domain_test.cpp
  test/integration/acceptance/create_role_test.cpp
  test/integration/acceptance/get_transactions_test.cpp
  test/integration/acceptance/invalid_fields_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/acceptance/tx_heavy_data.cpp
  test/integration/pipeline/pipeline_test.cpp
  test/module/shared_model/validators/validators.hpp
  test/regression/regression_test.cpp
Labels: needs-review, tests

#1348 Refactor/disable compatibility
  iroha-cli/main.cpp
  irohad/consensus/yac/CMakeLists.txt
  irohad/execution/CMakeLists.txt
  irohad/network/CMakeLists.txt
  irohad/torii/CMakeLists.txt
  irohad/torii/processor/CMakeLists.txt
  test/integration/transport/CMakeLists.txt
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/synchronizer/CMakeLists.txt
  test/module/irohad/validation/query_execution.cpp
Labels: needs-review

#1334 Support python tests with MSVC
  cmake/functions.cmake
  shared_model/bindings/CMakeLists.txt
  test/module/shared_model/bindings/CMakeLists.txt
Labels: SDK, build-system, tests, windows

#1335 Java tests MSVC support
  test/module/shared_model/bindings/CMakeLists.txt
  test/module/shared_model/bindings/build.gradle
Labels: SDK, build-system, tests, windows

#1339 Extract signaturesSubset function
  irohad/consensus/yac/impl/supermajority_checker_impl.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  irohad/validation/utils.hpp
  test/module/irohad/validation/CMakeLists.txt
  test/module/irohad/validation/stateful_validator_test.cpp
Labels: needs-review

#1363 Fix build of stateful_validator target
  irohad/validation/CMakeLists.txt
Labels: bug

#1371 Fix libed25519 linked dynamically
  .jenkinsci/bindings.groovy
Labels: SDK, build-system

#1370 Add validation rule for precision field
  docs/source/api/commands.rst
  docs/source/api/queries.rst
  shared_model/validators/field_validator.cpp
  test/module/shared_model/validators/field_validator_test.cpp
Labels: needs-review

#1366 Remove polymorphic wrapper query error response
  shared_model/backend/protobuf/query_responses/proto_error_query_response.hpp
  shared_model/interfaces/common_objects/amount.hpp
  shared_model/interfaces/query_responses/error_query_response.hpp
  shared_model/utils/query_error_response_visitor.hpp
  test/integration/acceptance/get_transactions_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/validation/query_execution.cpp
  test/module/shared_model/builders/common_objects/query_response_builder_test.cpp
Labels: legacy

#1373 Use dynamic port bindings in tests
  test/framework/integration_framework/test_irohad.hpp
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/api/CMakeLists.txt
  test/module/irohad/api/connection/CMakeLists.txt
  test/module/irohad/api/connection/command_connection_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: needs-review, tests

#1358 MSVC Shared Model CI builds
  .jenkinsci/artifacts.groovy
  .jenkinsci/bindings.groovy
  .jenkinsci/cancel-nightly-except-develop.groovy
  .jenkinsci/doxygen.groovy
  .jenkinsci/mac-release-build.groovy
  .jenkinsci/release-build.groovy
  .jenkinsci/selected-branches-coverage.groovy
  Jenkinsfile
  test/module/shared_model/bindings/builder-test.py
Labels: infrastructure, needs-review, windows

#1388 Remove polymorphic wrapper from query
  irohad/execution/impl/query_execution.cpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/interfaces/queries/query.hpp
  shared_model/validators/query_validator.hpp
Labels: legacy, needs-review

#1376 Use unique dbname in tests
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/regression/regression_test.cpp
Labels: ametsuchi, needs-review, tests

#1390 Fix synchronization bug
  irohad/synchronizer/impl/synchronizer_impl.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: bug

#1378 Nano refactor of MST processor test & axiom fix
  irohad/multi_sig_transactions/state/mst_state.hpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
Labels: mst, needs-review

#1396 Fix block query race condition
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/main/application.cpp
  irohad/torii/command_service.hpp
  irohad/torii/impl/command_service.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor_impl.hpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/query_test.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: bug

#1323 Add GetAccountAssetTransactions handler to the CLI
  iroha-cli/impl/query_response_handler.cpp
  iroha-cli/interactive/impl/interactive_query_cli.cpp
  iroha-cli/interactive/interactive_query_cli.hpp
Labels: cli, needs-review, query

#1395 Add permissions documentation
  docs/source/core_concepts/glossary.rst
  docs/source/maintenance/ansible.rst
  docs/source/maintenance/index.rst
  docs/source/maintenance/permissions.rst
Labels: documentation

#1389 Split signAndAddSignature of UnsignedWrapper
  shared_model/builders/protobuf/block_variant_transport_builder.hpp
  shared_model/builders/protobuf/unsigned_proto.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/get_transactions_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/integration/pipeline/pipeline_test.cpp
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/multi_sig_transactions/mst_test_helpers.hpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/query_service_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/shared_model/backend_proto/shared_proto_queries_test.cpp
  test/module/shared_model/backend_proto/shared_proto_transaction_test.cpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
  test/regression/regression_test.cpp
Labels: needs-review

#1386 Add missed quorum function to transaction builder
  shared_model/bindings/model_transaction_builder.cpp
  shared_model/bindings/model_transaction_builder.hpp
  shared_model/packages/javascript/tests/txbuilder.js
  shared_model/validators/transaction_validator.hpp
  test/integration/acceptance/acceptance_fixture.cpp
  test/module/shared_model/builders/protobuf/block_builder_test.cpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
  test/module/shared_model/validators/transaction_validator_test.cpp
Labels: SDK, needs-review, tests
