Repository hyperledger/iroha, pull requests merged in 2018-11, with the labels that each got.

#1793 Fix race condition on lazy fields in ProtoTransactionResponse
  shared_model/backend/protobuf/transaction_responses/impl/proto_tx_response.cpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  test/module/shared_model/backend_proto/shared_proto_tx_response_test.cpp
Labels: bug, needs-review

#1823 Add fuzzing target for ordering gate
  test/fuzzing/CMakeLists.txt
  test/fuzzing/ordering_gate_fuzz.cpp
Labels: security

#1809 pretty printing YAC messages
  irohad/consensus/impl/round.cpp
  irohad/consensus/round.hpp
  irohad/consensus/yac/messages.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  shared_model/utils/string_builder.hpp
Labels: needs-review

#1818 Refactor chain validator
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/validation/chain_validator.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  test/integration/validation/chain_validator_storage_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/validation_mocks.hpp
Labels: needs-review, refactoring

#1762 BFT-aware Synchronizer
  irohad/consensus/CMakeLists.txt
  irohad/consensus/gate_object.hpp
  irohad/consensus/impl/gate_object.cpp
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/network/consensus_gate.hpp
  irohad/synchronizer/CMakeLists.txt
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/synchronizer/synchronizer.hpp
  irohad/synchronizer/synchronizer_common.hpp
  test/module/irohad/CMakeLists.txt
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/synchronizer/CMakeLists.txt
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: needs-review, synchronization

#1798 pimpl for proposal
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  shared_model/backend/protobuf/impl/proposal.cpp
  shared_model/backend/protobuf/proposal.hpp
  shared_model/backend/protobuf/proto_proposal_factory.hpp
  shared_model/interfaces/iroha_internal/proposal.hpp
  test/module/irohad/ordering/on_demand_os_server_grpc_test.cpp
  test/module/shared_model/backend_proto/proto_proposal_factory_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: needs-review, shared model

#1822 Add GCC-7 and clang-6 into Dockerfile
  docker/dependencies/Dockerfile
  docker/develop/Dockerfile
Labels: infrastructure

#1829 Ordering service fuzzing
  test/fuzzing/CMakeLists.txt
  test/fuzzing/ordering_gate_fuzz.cpp
  test/fuzzing/ordering_service_fixture.hpp
  test/fuzzing/request_proposal_fuzz.cpp
  test/fuzzing/send_batches_fuzz.cpp
Labels: needs-review, security

#1813 Stateful Error Code in Postgres Command Executor
  irohad/ametsuchi/command_executor.hpp
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  irohad/ametsuchi/impl/postgres_command_executor.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
Labels: ametsuchi

#1835 A test for basic case of transaction replay attack
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/replay_test.cpp
Labels: bug, needs-review, tests

#1841 Fix the replay test after `common constants' merging
  test/integration/acceptance/replay_test.cpp
Labels: needs-review

#1834 Fix consensus VoteOther case
  irohad/consensus/gate_object.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: consensus

#1815 Store rejected transactions' hashes in blockchain
  irohad/model/block.hpp
  irohad/model/converters/impl/json_block_factory.cpp
  irohad/model/converters/impl/pb_block_factory.cpp
  irohad/model/impl/model_operators.cpp
  irohad/model/proposal.hpp
  irohad/simulator/block_creator.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  irohad/validation/stateful_validator.hpp
  irohad/validation/stateful_validator_common.hpp
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/impl/block.cpp
  shared_model/backend/protobuf/impl/proto_block_factory.cpp
  shared_model/backend/protobuf/proto_block_factory.hpp
  shared_model/backend/protobuf/proto_proposal_factory.hpp
  shared_model/interfaces/common_objects/range_types.hpp
  shared_model/interfaces/iroha_internal/block.cpp
  shared_model/interfaces/iroha_internal/block.hpp
  shared_model/interfaces/iroha_internal/unsafe_block_factory.hpp
  shared_model/interfaces/iroha_internal/unsafe_proposal_factory.hpp
  shared_model/schema/block.proto
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/model/operators/model_operators_test.cpp
  test/module/irohad/simulator/simulator_mocks.hpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
  test/module/irohad/validation/validation_mocks.hpp
  test/module/shared_model/backend_proto/proto_block_factory_test.cpp
  test/module/shared_model/builders/protobuf/builder_templates/block_template.hpp
  test/module/shared_model/interface_mocks.hpp
Labels: needs-review

#1806 Implement on demand ordering initialization
  irohad/main/CMakeLists.txt
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/main/impl/on_demand_ordering_init.hpp
  irohad/main/irohad.cpp
  irohad/ordering/CMakeLists.txt
  irohad/ordering/impl/on_demand_common.cpp
  irohad/ordering/impl/on_demand_common.hpp
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/impl/on_demand_os_client_grpc.hpp
  irohad/synchronizer/synchronizer_common.hpp
  test/CMakeLists.txt
  test/framework/integration_framework/integration_test_framework.cpp
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/on_demand_os_test.cpp
Labels: needs-review, ordering

#1826 ITF fixes related to BFT OS
  irohad/main/CMakeLists.txt
  irohad/main/server_runner.cpp
  irohad/main/server_runner.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/simulator/impl/simulator.cpp
  test/CMakeLists.txt
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/test_irohad.hpp
  test/integration/pipeline/pipeline_test.cpp
Labels: bug, ordering

#1840 Consensus fuzzing
  test/fuzzing/CMakeLists.txt
  test/fuzzing/consensus_fuzz.cpp
  test/fuzzing/ordering_gate_fuzz.cpp
Labels: needs-review, security

#1821 Stateful Validation Error Codes in Endpoint
  iroha-cli/interactive/impl/interactive_status_cli.cpp
  irohad/main/application.cpp
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/impl/command_service_transport_grpc.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor_impl.hpp
  shared_model/backend/protobuf/impl/proto_tx_status_factory.cpp
  shared_model/backend/protobuf/proto_tx_status_factory.hpp
  shared_model/backend/protobuf/transaction_responses/impl/proto_tx_response.cpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.cpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.hpp
  shared_model/builders/transaction_responses/transaction_status_builder.hpp
  shared_model/interfaces/iroha_internal/tx_status_factory.hpp
  shared_model/interfaces/transaction_responses/impl/tx_response.cpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  shared_model/schema/endpoint.proto
  test/integration/acceptance/revoke_permission_test.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/shared_model/builders/protobuf/transaction_responses/proto_transaction_response_factory_test.cpp
Labels: needs-review, shared model

#1839 Add fuzzing for BlockLoader endpoints
  test/fuzzing/CMakeLists.txt
  test/fuzzing/block_loader_fixture.hpp
  test/fuzzing/retrieve_block_fuzz.cpp
  test/fuzzing/retrieve_blocks_fuzz.cpp
  test/module/vendor/grpc_mocks.hpp
Labels: security

#1844 Update tx-example.py and blocks-query.py
  example/python/batch-example.py
  example/python/blocks-query.py
  example/python/irohalib.py
  example/python/tx-example.py
Labels: SDK, needs-review

#1856 Fix SetAccountQuorum validation rule
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/set_account_quorum_test.cpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
Labels: bug, needs-review, tests

#1814 refactor query response factory to accept some sm objects by its para…
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  irohad/ametsuchi/impl/postgres_query_executor.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  shared_model/backend/protobuf/impl/proto_query_response_factory.cpp
  shared_model/backend/protobuf/proto_query_response_factory.hpp
  shared_model/interfaces/iroha_internal/query_response_factory.hpp
  test/module/irohad/torii/query_service_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/shared_model/backend_proto/proto_query_response_factory_test.cpp
Labels: needs-correction, shared model

#1820 check torii and internal port when start irohad
  irohad/main/application.cpp
Labels: cli, needs-review

#1864 Update tx presence method
  irohad/ametsuchi/impl/postgres_block_index.cpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/tx_cache_response.hpp
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/block_query_test.cpp
Labels: ametsuchi, needs-review

#1845 MST fuzzing
  test/fuzzing/CMakeLists.txt
  test/fuzzing/mst_fuzz.cpp
Labels: security

#1863 Fix MST SendState segfault
  irohad/main/application.cpp
  shared_model/validators/default_proto_validator.hpp
  shared_model/validators/default_validator.hpp
  shared_model/validators/protobuf/proto_transaction_validator.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/module/irohad/multi_sig_transactions/CMakeLists.txt
  test/module/irohad/multi_sig_transactions/mst_net_input_test.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: bug, mst, needs-correction

#1843 Refactor ordering gate observable to optional
  irohad/main/application.cpp
  irohad/network/CMakeLists.txt
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/impl/peer_communication_service_impl.hpp
  irohad/network/ordering_gate.hpp
  irohad/network/ordering_gate_common.cpp
  irohad/network/ordering_gate_common.hpp
  irohad/network/peer_communication_service.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_gate_impl.hpp
  irohad/simulator/CMakeLists.txt
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  irohad/simulator/verified_proposal_creator.hpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  test/framework/CMakeLists.txt
  test/framework/integration_framework/integration_test_framework.cpp
  test/fuzzing/status_fuzz.cpp
  test/fuzzing/torii_fuzz.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/CMakeLists.txt
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: needs-review, ordering, refactoring

#1858 Makefile for python libs example
  example/python/Makefile
  example/python/prepare.sh
Labels: infrastructure, needs-review

#1868 Replay check to ordering gate
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  shared_model/backend/protobuf/proto_proposal_factory.hpp
  shared_model/interfaces/iroha_internal/unsafe_proposal_factory.hpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: ordering

#1872 Fix startup flags logic (--genesis_block & --overwrite_ledger)
  irohad/main/irohad.cpp
Labels: cli, needs-review

#1849 Ordering service (pre-on-demand version) in ITF & Fake Peer
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  test/framework/CMakeLists.txt
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/fake_peer/fake_peer.hpp
  test/framework/integration_framework/fake_peer/ordering_gate_network_notifier.cpp
  test/framework/integration_framework/fake_peer/ordering_gate_network_notifier.hpp
  test/framework/integration_framework/fake_peer/ordering_service_network_notifier.cpp
  test/framework/integration_framework/fake_peer/ordering_service_network_notifier.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/acceptance/basic_mst_state_propagation.cpp
Labels: ordering

#1876 Fix proposal height set
  irohad/ordering/impl/single_peer_ordering_service.cpp
Labels: bug, needs-review

#1870 Add functions to simplify work with tx cache
  irohad/ametsuchi/tx_presence_cache_utils.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
Labels: needs-correction, refactoring

#1852 ITF: fake peer synchronizer
  irohad/ametsuchi/block_query.hpp
  test/framework/CMakeLists.txt
  test/framework/integration_framework/fake_peer/behaviour/behaviour.cpp
  test/framework/integration_framework/fake_peer/behaviour/behaviour.hpp
  test/framework/integration_framework/fake_peer/behaviour/empty.cpp
  test/framework/integration_framework/fake_peer/behaviour/empty.hpp
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/framework/integration_framework/fake_peer/behaviour/honest.hpp
  test/framework/integration_framework/fake_peer/block_storage.cpp
  test/framework/integration_framework/fake_peer/block_storage.hpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/fake_peer/fake_peer.hpp
  test/framework/integration_framework/fake_peer/network/loader_grpc.cpp
  test/framework/integration_framework/fake_peer/network/loader_grpc.hpp
  test/framework/integration_framework/fake_peer/network/mst_message.hpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.hpp
  test/framework/integration_framework/fake_peer/types.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: needs-review, synchronization

#1865 Prevent replay attack on MST state sharing
  irohad/ametsuchi/tx_cache_response.hpp
  irohad/main/application.cpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/multi_sig_transactions/transport/mst_transport_grpc.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: bug, mst, needs-review

#1889 Nano Fix: YAC vote storage - find proposal predicate takes constref
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
Labels: bug, needs-review

#1830 Two phase commit
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-cleanup.groovy
  Jenkinsfile
  docker/docker-compose.yml
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/ametsuchi/mutable_factory.hpp
  irohad/ametsuchi/storage.hpp
  irohad/ametsuchi/temporary_factory.hpp
  irohad/network/consensus_gate.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/synchronizer/synchronizer.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: ametsuchi, needs-review

#1867 Stateful Error Response to Log
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  irohad/ametsuchi/impl/postgres_command_executor.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/validation/stateful_validator_common.hpp
  shared_model/interfaces/permissions.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
Labels: ametsuchi, needs-review

#1887 Schema update for queries with lists of transactions
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/queries/impl/proto_get_account_asset_transactions.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account_transactions.cpp
  shared_model/backend/protobuf/queries/impl/proto_tx_pagination_meta.cpp
  shared_model/backend/protobuf/queries/proto_get_account_asset_transactions.hpp
  shared_model/backend/protobuf/queries/proto_get_account_transactions.hpp
  shared_model/backend/protobuf/queries/proto_tx_pagination_meta.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/common_objects/types.hpp
  shared_model/interfaces/queries/get_account_asset_transactions.hpp
  shared_model/interfaces/queries/get_account_transactions.hpp
  shared_model/interfaces/queries/impl/get_account_asset_transactions.cpp
  shared_model/interfaces/queries/impl/get_account_transactions.cpp
  shared_model/interfaces/queries/impl/tx_pagination_meta.cpp
  shared_model/interfaces/queries/tx_pagination_meta.hpp
  shared_model/schema/queries.proto
  shared_model/utils/string_builder.cpp
  shared_model/utils/string_builder.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: API, needs-review
