Repository hyperledger/iroha, pull requests merged in 2018-04, with the labels that each got.

#1171 Fix shared build of shared model subproject
  iroha-cli/interactive/impl/interactive_transaction_cli.cpp
  irohad/execution/impl/command_executor.cpp
  irohad/model/converters/pb_command_factory.hpp
  irohad/model/generators/impl/command_generator.cpp
  irohad/model/impl/query_execution.cpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/permissions.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/test_block_generator.cpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/create_account_test.cpp
  test/integration/acceptance/create_domain_test.cpp
  test/integration/acceptance/create_role_test.cpp
  test/integration/acceptance/get_transactions_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/model/command_validate_execute_test.cpp
  test/module/irohad/model/converters/json_commands_test.cpp
  test/module/irohad/model/converters/pb_commands_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/validation/query_execution.cpp
  test/module/shared_model/cryptography/CMakeLists.txt
  test/module/shared_model/validators/field_validator_test.cpp
Labels: bug:confirmed, needs-review

#1164 Shared model/new block loader
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/block_loader_impl.hpp
  irohad/network/impl/block_loader_service.cpp
  test/module/irohad/network/block_loader_test.cpp
Labels: legacy, needs-review

#1170 Uploading of the build artifacts
  .jenkinsci/artifacts.groovy
  .jenkinsci/debug-build.groovy
  .jenkinsci/linux-post-step.groovy
  .jenkinsci/mac-release-build.groovy
  Jenkinsfile
Labels: build-system, needs-review

#1198 Tests for heavy transactions
  shared_model/validators/field_validator.cpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/tx_heavy_data.cpp
Labels: tests

#1215 Rework test/framework
  test/framework/CMakeLists.txt
  test/framework/test_block_generator.cpp
  test/framework/test_block_generator.hpp
  test/module/irohad/common/CMakeLists.txt
  test/module/irohad/common/raw_block_loader_test.cpp
Labels: legacy, needs-review, tests

#1185 Feature/rework key manager shm
  iroha-cli/main.cpp
  irohad/consensus/yac/impl/yac_crypto_provider_impl.cpp
  irohad/consensus/yac/impl/yac_crypto_provider_impl.hpp
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/impl/consensus_init.cpp
  irohad/main/impl/consensus_init.hpp
  irohad/main/irohad.cpp
  irohad/model/generators/impl/transaction_generator.cpp
  libs/crypto/CMakeLists.txt
  libs/crypto/keys_manager.hpp
  libs/crypto/keys_manager_impl.cpp
  libs/crypto/keys_manager_impl.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/libs/crypto/keys_manager_test.cpp
Labels: legacy, needs-review

#1188 Remove old model from ametsuchi test
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: legacy

#1211 Changed ios build script to use https for all git clone operations (f…
  shared_model/packages/android/android-build.sh
  shared_model/packages/ios/ios-build.sh
Labels: build-system

#1205 Update Maintainers.md
  MAINTAINERS.md
Labels: needs-review

#1192 Rework Docker images pull mechanism
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/release-build.groovy
  docker/develop/aarch64/Dockerfile
  docker/develop/armv7l/Dockerfile
  docker/develop/x86_64/Dockerfile
Labels: build-system, needs-review

#1224 Feature/grpc logging
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/main/impl/ordering_init.cpp
  irohad/network/impl/async_grpc_client.hpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.hpp
Labels: needs-review

#1168 Add feature for custom genesis block gen
  iroha-cli/main.cpp
Labels: cli, legacy, needs-review

#1225 Fix/ir 1122
  irohad/synchronizer/impl/synchronizer_impl.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: needs-review

#1199 GetAccount returns kv only with keys
  docs/source/api/queries.rst
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/wsv_query.hpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/get_account.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/validation/query_execution.cpp
Labels: needs-correction, query

#1184 Fix of licenses
  README.md
  docs/source/conf.py
Labels: needs-review

#1209 add transaction creator check
  irohad/model/impl/query_execution.cpp
  irohad/model/query_execution.hpp
  test/integration/acceptance/get_transactions_test.cpp
Labels: needs-review, tests

#1213 Add default hash provider
  irohad/torii/impl/command_service.cpp
  irohad/torii/impl/query_service.cpp
  shared_model/cryptography/default_hash_provider.hpp
  shared_model/interfaces/base/signable.hpp
Labels: crypto, needs-review

#1219 Fix tests after heavy tx PR
  test/integration/acceptance/tx_heavy_data.cpp
  test/module/shared_model/validators/field_validator_test.cpp
Labels: needs-review, tests

#1240 Fix/on absent genesis block
  irohad/main/irohad.cpp
  test/framework/CMakeLists.txt
  test/framework/config_helper.cpp
Labels: bug:confirmed, tests

#1236 iOS Swift Library installation guide with detailed instructions and d…
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_001.png
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_002.png
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_003.png
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_004.png
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_005.png
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_007.png
  docs/image_assets/iroha_swift_guide/iroha_swift_guide_008.png
  docs/source/guides/libraries.rst
  docs/source/guides/libraries/swift_ios.rst
  shared_model/packages/ios/iroha-preparation.sh
Labels: documentation, needs-review

#1218 Add mocks for getAccountRoles() in client test
  test/module/iroha-cli/client_test.cpp
Labels: query, tests

#1222 remove old model from cmake
  irohad/ametsuchi/CMakeLists.txt
  irohad/consensus/yac/CMakeLists.txt
  irohad/main/CMakeLists.txt
  irohad/main/irohad.cpp
  irohad/network/CMakeLists.txt
  irohad/network/impl/block_loader_service.hpp
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/ordering/CMakeLists.txt
  irohad/simulator/CMakeLists.txt
  irohad/synchronizer/CMakeLists.txt
  irohad/torii/CMakeLists.txt
  irohad/validation/CMakeLists.txt
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/builders/CMakeLists.txt
  shared_model/builders/protobuf/CMakeLists.txt
  shared_model/interfaces/CMakeLists.txt
  shared_model/validators/CMakeLists.txt
  test/integration/acceptance/CMakeLists.txt
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/validation/CMakeLists.txt
  test/system/CMakeLists.txt
  test/system/irohad_test.cpp
Labels: legacy, needs-review

#1174 Shared model/new vote message
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/impl/yac_crypto_provider_impl.cpp
  irohad/consensus/yac/impl/yac_crypto_provider_impl.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/messages.hpp
  irohad/consensus/yac/transport/yac_pb_converters.hpp
  irohad/main/impl/consensus_init.cpp
  irohad/main/impl/consensus_init.hpp
  shared_model/builders/common_objects/common.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/yac_common_test.cpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/shared_model/builders/protobuf/test_signature_builder.hpp
Labels: legacy, needs-review

#1189 remove old model from kv_storage_test
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/kv_storage_test.cpp
Labels: legacy

#1247 fix synchronization issues
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
Labels: bug:confirmed, needs-correction

#1252 One small step for Iroha — one giant transaction for a client
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/main/server_runner.cpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/grpc_channel_builder.hpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/torii/command_client.cpp
  irohad/torii/query_client.cpp
  test/integration/acceptance/tx_heavy_data.cpp
Labels: bug:confirmed, needs-review

#1229 Fix permission bug
  example/genesis.block
  example/python/tx-example.py
  irohad/execution/impl/command_executor.cpp
  irohad/model/converters/impl/pb_command_factory.cpp
  schema/primitive.proto
  shared_model/validators/permissions.hpp
  test/module/irohad/model/command_validate_execute_test.cpp
Labels: bug:confirmed, needs-review

#1233 Fix artifacts uploading on unsuccessful build
  .jenkinsci/linux-post-step.groovy
  Jenkinsfile
Labels: build-system, needs-review

#1251 Use hex-encoded query hashes instead of binary hashes
  irohad/model/converters/impl/pb_query_response_factory.cpp
  irohad/torii/impl/query_service.cpp
  schema/responses.proto
  shared_model/backend/protobuf/query_responses/proto_query_response.hpp
  shared_model/builders/protobuf/builder_templates/query_response_template.hpp
  test/module/shared_model/backend_proto/shared_proto_query_responses_test.cpp
Labels: needs-review, query

#1249 Fix/swig build
  cmake/Modules/Findswig.cmake
  shared_model/bindings/CMakeLists.txt
  shared_model/packages/android/android-build.sh
Labels: SDK, build-system

#1255 HasTxWithHash for Block Query
  irohad/ametsuchi/block_query.hpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/torii/impl/command_service.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/block_query_test.cpp
Labels: ametsuchi, tests

#1268 Rework ordering service event handling
  irohad/ordering/impl/ordering_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  test/module/irohad/ordering/ordering_service_test.cpp
Labels: bug:confirmed, needs-review

#1253 Feature/rework wsv query command test with shm
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/shared_model/builders/protobuf/test_account_builder.hpp
  test/module/shared_model/builders/protobuf/test_domain_builder.hpp
  test/module/shared_model/builders/protobuf/test_peer_builder.hpp
Labels: ametsuchi, command, legacy, needs-review

#1258 Python/Java/Android bindings
  .jenkinsci/bindings.groovy
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/remote-files-differ.groovy
  Jenkinsfile
  docker/android/Dockerfile
  docker/android/entrypoint.sh
  docker/develop/aarch64/Dockerfile
  docker/develop/armv7l/Dockerfile
  docker/develop/x86_64/Dockerfile
Labels: SDK, build-system

#1263 Add result utilities
  libs/common/result.hpp
  test/framework/result_fixture.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/irohad/execution/command_validate_execute_test.cpp
  test/module/libs/common/result_test.cpp
Labels: needs-review

#1193 Use pubkey as identifier in SignatureSetType
  shared_model/interfaces/common_objects/signable_hash.hpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/supermajority_checker_test.cpp
Labels: bug:confirmed, needs-review

#1262 Fix artifacts uploading
  .jenkinsci/debug-build.groovy
  .jenkinsci/mac-release-build.groovy
  .jenkinsci/release-build.groovy
Labels: build-system, needs-review

#1243 Ordering gate discards outdated proposals and keeps new ones
  irohad/main/application.cpp
  irohad/main/impl/ordering_init.cpp
  irohad/main/impl/ordering_init.hpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_gate_impl.hpp
  irohad/simulator/impl/simulator.cpp
  test/module/irohad/ordering/ordering_gate_service_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
Labels: needs-review

#1282 CI fixes
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/linux-post-step.groovy
  .jenkinsci/release-build.groovy
  .jenkinsci/selected-branches-coverage.groovy
  Jenkinsfile
  deploy/ansible/playbooks/iroha-standalone-nodes/iroha-deploy.yml
  docker/develop/Dockerfile
  docker/develop/armv7l/Dockerfile
  docker/develop/x86_64/Dockerfile
  docker/docker-compose.yml
  docker/manifest.yaml
  docker/release/Dockerfile
  docker/release/armv7l/Dockerfile
  docker/release/armv7l/entrypoint.sh
  docker/release/entrypoint.sh
  docker/release/x86_64/Dockerfile
  docker/release/x86_64/entrypoint.sh
Labels: build-system, needs-review

#1056 Feature/improve itf
  irohad/main/server_runner.cpp
  irohad/main/server_runner.hpp
  test/CMakeLists.txt
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/pipeline/test_irohad.hpp
  test/regression/CMakeLists.txt
  test/regression/regression_test.cpp
Labels: needs-review, tests
