Repository hyperledger/iroha, pull requests merged in 2018-12, with the labels that each got.

#1898 fake peer ordering service usage example
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: tests

#1904 Fix transaction queries pagination
  shared_model/bindings/model_query_builder.cpp
  shared_model/bindings/model_query_builder.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/validators/default_validator.hpp
  shared_model/validators/tx_pagination_meta_validator.hpp
Labels: needs-review

#1894 Fix Synchronizer
  irohad/main/application.cpp
  irohad/main/impl/block_loader_init.cpp
  irohad/main/impl/block_loader_init.hpp
  irohad/network/block_loader.hpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/block_loader_impl.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: needs-review, synchronization

#1871 OnDemand OS verbose logging
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
Labels: needs-review

#1933 Commands Mocks Factory
  test/module/shared_model/CMakeLists.txt
  test/module/shared_model/command_mocks.hpp
  test/module/shared_model/mock_objects_factories/mock_command_factory.cpp
  test/module/shared_model/mock_objects_factories/mock_command_factory.hpp
Labels: command, tests

#1937 Rework QueryExecutorTest with Command mocks
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
Labels: query, tests

#1934 Remove Reference Holder from Command and Rework CommandExecutorTest
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/commands/impl/proto_command.cpp
  shared_model/backend/protobuf/commands/proto_command.hpp
  shared_model/backend/protobuf/impl/transaction.cpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/shared_model/mock_objects_factories/mock_command_factory.cpp
  test/module/shared_model/mock_objects_factories/mock_command_factory.hpp
Labels: command, tests

#1945 Remove unused docker manifests
  .jenkinsci/debug-build.groovy
  .jenkinsci/release-build.groovy
Labels: infrastructure, needs-review

#1939 Map is substituted by a vector
  irohad/simulator/impl/simulator.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/stateful_validator_common.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
Labels: bug, validation

#1875 Generate secrets for Iroha peers in k8s and add persisted storage.
  deploy/ansible/playbooks/iroha-k8s/scripts/genesis-add-peers.py
  deploy/ansible/roles/iroha-k8s/README.md
  deploy/ansible/roles/iroha-k8s/defaults/main.yml
  deploy/ansible/roles/iroha-k8s/files/conf/config.docker
  deploy/ansible/roles/iroha-k8s/files/conf/entrypoint.sh
  deploy/ansible/roles/iroha-k8s/files/conf/genesis.block
  deploy/ansible/roles/iroha-k8s/files/conf/node0.priv
  deploy/ansible/roles/iroha-k8s/files/conf/node0.pub
  deploy/ansible/roles/iroha-k8s/files/conf/node1.priv
  deploy/ansible/roles/iroha-k8s/files/conf/node1.pub
  deploy/ansible/roles/iroha-k8s/files/conf/node2.priv
  deploy/ansible/roles/iroha-k8s/files/conf/node2.pub
  deploy/ansible/roles/iroha-k8s/files/conf/node3.priv
  deploy/ansible/roles/iroha-k8s/files/conf/node3.pub
  deploy/ansible/roles/iroha-k8s/files/genesis.block
  deploy/ansible/roles/iroha-k8s/files/k8s-iroha.yaml
  deploy/ansible/roles/iroha-k8s/files/k8s-peer-keys.yaml
  deploy/ansible/roles/iroha-k8s/tasks/main.yml
  deploy/ansible/roles/iroha-k8s/templates/config.docker.j2
  deploy/ansible/roles/iroha-k8s/templates/k8s-iroha.yaml.j2
  deploy/ansible/roles/iroha-k8s/templates/k8s-peer-keys.yaml.j2
  docs/source/guides/k8s-deployment.rst
Labels: infrastructure, needs-review

#1930 Feature/refactor postgres query executor test
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
Labels: ametsuchi, tests

#1938 Updated documentation on commands, removed empty sub-menus
  docs/source/api/commands.rst
  docs/source/api/cpp_library.rst
  docs/source/api/java_library.rst
  docs/source/api/nodejs_library.rst
  docs/source/api/objc_library.rst
  docs/source/api/python_library.rst
  docs/source/api/swift_library.rst
Labels: documentation, needs-review

#1950 Add fuzzing build process to nightly Iroha builds
  .jenkinsci/debug-build.groovy
  Jenkinsfile
Labels: infrastructure, security

#1948 Revoke permission adjusted behaviour and tests
  test/integration/acceptance/revoke_permission_test.cpp
Labels: command, needs-review, tests

#1968 Fix memory leaks on irohad shutdown
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/main/impl/on_demand_ordering_init.hpp
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
Labels: bug, needs-review

#1981 Remove OrderingGate (internal) fuzzing
  test/fuzzing/CMakeLists.txt
  test/fuzzing/ordering_gate_fuzz.cpp
Labels: security, tests

#1983 Update RequestProposal endpoint fuzzing
  test/fuzzing/CMakeLists.txt
  test/fuzzing/ordering_service_fixture.hpp
  test/fuzzing/request_proposal_fuzz.cpp
Labels: security, tests

#1982 Fix/fuzzing find
  test/fuzzing/find_fuzz.cpp
Labels: security, tests

#1973 Fix GetTransactions query behaviour
  docs/source/api/queries.rst
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  irohad/ametsuchi/impl/postgres_query_executor.hpp
  test/integration/acceptance/get_transactions_test.cpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
Labels: ametsuchi, needs-review, query

#1987 Change docker build logic
  .jenkinsci/docker-pull-or-build.groovy
Labels: infrastructure, needs-review

#1957 No in-place logger creation II
  iroha-cli/grpc_response_handler.hpp
  iroha-cli/impl/grpc_response_handler.cpp
  iroha-cli/impl/query_response_handler.cpp
  iroha-cli/impl/transaction_response_handler.cpp
  iroha-cli/query_response_handler.hpp
  iroha-cli/transaction_response_handler.hpp
  irohad/ametsuchi/impl/flat_file/flat_file.cpp
  irohad/ametsuchi/impl/flat_file/flat_file.hpp
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  irohad/ametsuchi/impl/postgres_query_executor.hpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/consensus/yac/yac.hpp
  irohad/main/application.cpp
  irohad/multi_sig_transactions/impl/mst_processor.cpp
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/mst_processor.hpp
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/multi_sig_transactions/storage/impl/mst_storage.cpp
  irohad/multi_sig_transactions/storage/mst_storage.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/impl/command_service_impl.hpp
  irohad/torii/impl/query_service.cpp
  irohad/torii/query_service.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  libs/crypto/keys_manager_impl.cpp
  test/integration/validation/chain_validator_storage_test.cpp
  test/module/irohad/network/block_loader_test.cpp
Labels: refactoring

#1979 Fix/fuzzing status
  test/fuzzing/status_fuzz.cpp
Labels: needs-review, security, tests

#1951 Update Torii Fuzzing
  test/fuzzing/torii_fuzz.cpp
Labels: refactoring, security, tests

#1971 Checked and fixed query documentation
  docs/source/api/queries.rst
Labels: documentation

#1833 Remove client_test
  test/module/CMakeLists.txt
  test/module/iroha-cli/CMakeLists.txt
  test/module/iroha-cli/client_test.cpp
Labels: cli, tests

#1988 irohad and iroha-cli MSVC build
  CMakeLists.txt
  cmake/Modules/Findgflags.cmake
  cmake/Modules/Findgrpc.cmake
  cmake/Modules/Findpq.cmake
  cmake/Modules/Findsoci.cmake
  cmake/dependencies.cmake
  cmake/functions.cmake
  example/config-win.sample
  example/genesis.block
  iroha-cli/interactive/impl/interactive_cli.cpp
  iroha-cli/interactive/interactive_common_cli.hpp
  iroha-cli/validators.cpp
  irohad/ametsuchi/impl/flat_file/flat_file.cpp
  irohad/ametsuchi/impl/postgres_options.cpp
  irohad/ametsuchi/impl/postgres_ordering_service_persistent_state.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/soci_utils.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/wsv_query.hpp
  irohad/consensus/impl/gate_object.cpp
  irohad/consensus/impl/round.cpp
  irohad/consensus/yac/yac_hash_provider.hpp
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/main/irohad.cpp
  irohad/model/impl/model_operators.cpp
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  libs/common/bind.hpp
  libs/common/files.cpp
  libs/parser/parser.cpp
  libs/parser/parser.hpp
  shared_model/backend/protobuf/impl/proto_block_factory.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_query_response.cpp
  shared_model/interfaces/commands/impl/command.cpp
  shared_model/interfaces/queries/impl/query.cpp
  shared_model/interfaces/query_responses/impl/query_response.cpp
  shared_model/interfaces/transaction_responses/impl/tx_response.cpp
Labels: windows

#1996 Remove torii_service_test
  test/module/irohad/torii/torii_service_test.cpp
Labels: refactoring, reviewers-wanted

#1965 More precise sync outcome logging in irohad
  irohad/main/application.cpp
Labels: needs-review, reviewers-wanted

#1995 remove common object builders from postgres executor test
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
Labels: ametsuchi, needs-review, tests
