Repository hyperledger/iroha, pull requests merged in 2018-06, with the labels that each got.

#1382 include package name declarations in generated java bindings
  example/java/TransactionExample.java
  example/java/prepare.sh
  shared_model/bindings/CMakeLists.txt
Labels: SDK

#1384 Shared model permissions
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/impl/permissions.cpp
  shared_model/backend/protobuf/permissions.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/impl/permissions.cpp
  shared_model/interfaces/permissions.hpp
  test/module/shared_model/backend_proto/CMakeLists.txt
  test/module/shared_model/backend_proto/permissions_test.cpp
Labels: legacy

#1296 add query for blocks, builders
  irohad/model/converters/impl/pb_query_factory.cpp
  irohad/model/queries/blocks_query.hpp
  irohad/model/query_payload_meta.hpp
  schema/queries.proto
  shared_model/backend/protobuf/queries/proto_blocks_query.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/queries/proto_query_payload_meta.hpp
  shared_model/builders/protobuf/builder_templates/blocks_query_template.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/builders/protobuf/queries.hpp
  shared_model/interfaces/queries/blocks_query.hpp
  shared_model/interfaces/queries/query.hpp
  shared_model/interfaces/queries/query_payload_meta.hpp
  shared_model/validators/blocks_query_validator.hpp
  shared_model/validators/default_validator.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  test/module/irohad/model/converters/pb_query_factory_test.cpp
  test/module/shared_model/backend_proto/shared_proto_queries_test.cpp
  test/module/shared_model/builders/protobuf/test_query_builder.hpp
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/query_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: needs-review, query

#1404 Fix/dockerfile with separate dependencies
  docker/dependencies/Dockerfile
  docker/dependencies/README.md
Labels: infrastructure, tests

#1351 Fix/can get block
  irohad/model/converters/impl/pb_command_factory.cpp
Labels: bug

#1383 Fix/storage init test
  irohad/ametsuchi/impl/postgres_options.cpp
  test/framework/CMakeLists.txt
  test/framework/config_helper.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
Labels: bug, tests

#1410 Fix signing in bindings test
  example/java/TransactionExample.java
  example/node/index.js
  example/python/tx-example.py
  shared_model/bindings/model_proto.hpp
  shared_model/builders/protobuf/unsigned_proto.hpp
  test/module/shared_model/bindings/BuilderTest.java
  test/module/shared_model/bindings/QueryTest.java
  test/module/shared_model/bindings/builder-test.py
  test/module/shared_model/bindings/query-test.py
Labels: SDK

#1408 New permissions in commands
  irohad/execution/impl/command_executor.cpp
  shared_model/backend/protobuf/commands/impl/proto_create_role.cpp
  shared_model/backend/protobuf/commands/impl/proto_grant_permission.cpp
  shared_model/backend/protobuf/commands/impl/proto_revoke_permission.cpp
  shared_model/backend/protobuf/commands/proto_create_role.hpp
  shared_model/backend/protobuf/commands/proto_grant_permission.hpp
  shared_model/backend/protobuf/commands/proto_revoke_permission.hpp
  shared_model/interfaces/commands/create_role.hpp
  shared_model/interfaces/commands/grant_permission.hpp
  shared_model/interfaces/commands/impl/create_role.cpp
  shared_model/interfaces/commands/impl/grant_permission.cpp
  shared_model/interfaces/commands/impl/revoke_permission.cpp
  shared_model/interfaces/commands/revoke_permission.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/module/irohad/execution/command_validate_execute_test.cpp
  test/module/shared_model/validators/field_validator_test.cpp
Labels: legacy

#1405 Add missed dynamic port binding in transport_test
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: tests

#1416 Transaction statuses (RTD)
  docs/image_assets/transaction_status.sketch
  docs/image_assets/tx_status.png
  docs/source/core_concepts/glossary.rst
  docs/source/guides/index.rst
Labels: documentation, needs-correction

#1415 Entity-relationship model (RTD)
  docs/image_assets/er-model.png
  docs/source/core_concepts/er_model.rst
  docs/source/core_concepts/index.rst
Labels: documentation

#1425 MacOS test step added --output-on-failure flag
  .jenkinsci/debug-build.groovy
  Jenkinsfile
Labels: infrastructure

#1427 Fix jar build script
  example/java/build_library.sh
Labels: SDK

#1407 New permissions in validation phase
  irohad/execution/common_executor.hpp
  irohad/execution/impl/command_executor.cpp
  irohad/execution/impl/common_executor.cpp
  irohad/execution/impl/query_execution.cpp
  shared_model/backend/protobuf/from_old.hpp
  shared_model/interfaces/impl/permissions.cpp
  shared_model/interfaces/permissions.hpp
  test/module/irohad/execution/command_validate_execute_test.cpp
Labels: legacy, needs-review

#1422 Refactoring/os interfaces
  irohad/main/impl/ordering_init.cpp
  irohad/main/impl/ordering_init.hpp
  irohad/network/ordering_service.hpp
  irohad/ordering/CMakeLists.txt
  irohad/ordering/impl/on_demand_ordering_service.cpp
  irohad/ordering/impl/on_demand_ordering_service.hpp
  irohad/ordering/impl/signle_peer_ordering_service.cpp
  irohad/ordering/impl/signle_peer_ordering_service.hpp
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
Labels: legacy

#1435 Move vote collection validation to transport
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
Labels: needs-review

#1414 Refactor/shared model compile time query
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/queries/impl/proto_blocks_query.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account_asset_transactions.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account_assets.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account_detail.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account_transactions.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_asset_info.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_role_permissions.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_roles.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_signatories.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_transactions.cpp
  shared_model/backend/protobuf/queries/impl/proto_query.cpp
  shared_model/backend/protobuf/queries/impl/proto_query_payload_meta.cpp
  shared_model/backend/protobuf/queries/proto_blocks_query.hpp
  shared_model/backend/protobuf/queries/proto_get_account.hpp
  shared_model/backend/protobuf/queries/proto_get_account_asset_transactions.hpp
  shared_model/backend/protobuf/queries/proto_get_account_assets.hpp
  shared_model/backend/protobuf/queries/proto_get_account_detail.hpp
  shared_model/backend/protobuf/queries/proto_get_account_transactions.hpp
  shared_model/backend/protobuf/queries/proto_get_asset_info.hpp
  shared_model/backend/protobuf/queries/proto_get_role_permissions.hpp
  shared_model/backend/protobuf/queries/proto_get_roles.hpp
  shared_model/backend/protobuf/queries/proto_get_signatories.hpp
  shared_model/backend/protobuf/queries/proto_get_transactions.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/queries/proto_query_payload_meta.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/queries/blocks_query.hpp
  shared_model/interfaces/queries/get_account.hpp
  shared_model/interfaces/queries/get_account_asset_transactions.hpp
  shared_model/interfaces/queries/get_account_assets.hpp
  shared_model/interfaces/queries/get_account_detail.hpp
  shared_model/interfaces/queries/get_account_transactions.hpp
  shared_model/interfaces/queries/get_asset_info.hpp
  shared_model/interfaces/queries/get_role_permissions.hpp
  shared_model/interfaces/queries/get_roles.hpp
  shared_model/interfaces/queries/get_signatories.hpp
  shared_model/interfaces/queries/get_transactions.hpp
  shared_model/interfaces/queries/impl/blocks_query.cpp
  shared_model/interfaces/queries/impl/get_account.cpp
  shared_model/interfaces/queries/impl/get_account_asset_transactions.cpp
  shared_model/interfaces/queries/impl/get_account_assets.cpp
  shared_model/interfaces/queries/impl/get_account_detail.cpp
  shared_model/interfaces/queries/impl/get_account_transactions.cpp
  shared_model/interfaces/queries/impl/get_asset_info.cpp
  shared_model/interfaces/queries/impl/get_role_permissions.cpp
  shared_model/interfaces/queries/impl/get_roles.cpp
  shared_model/interfaces/queries/impl/get_signatories.cpp
  shared_model/interfaces/queries/impl/get_transactions.cpp
  shared_model/interfaces/queries/impl/query.cpp
  shared_model/interfaces/queries/impl/query_payload_meta.cpp
  shared_model/interfaces/queries/query.hpp
  shared_model/interfaces/queries/query_payload_meta.hpp
  shared_model/interfaces/query_responses/transactions_response.hpp
Labels: needs-review, query

#1442 fix linking error, add protobuf dependency, fix bug
  irohad/execution/CMakeLists.txt
  shared_model/backend/protobuf/query_responses/impl/proto_block_query_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_block_response.cpp
  shared_model/backend/protobuf/query_responses/proto_block_response.hpp
Labels: bug

#1443 Change RTD docs levels
  docs/source/core_concepts/index.rst
Labels: documentation

#1424 Refactor/shared model compile time query responses
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/query_responses/impl/proto_account_asset_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_account_detail_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_account_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_asset_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_error_query_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_query_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_role_permissions_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_roles_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_signatories_response.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_transaction_response.cpp
  shared_model/backend/protobuf/query_responses/proto_account_asset_response.hpp
  shared_model/backend/protobuf/query_responses/proto_account_detail_response.hpp
  shared_model/backend/protobuf/query_responses/proto_account_response.hpp
  shared_model/backend/protobuf/query_responses/proto_asset_response.hpp
  shared_model/backend/protobuf/query_responses/proto_error_query_response.hpp
  shared_model/backend/protobuf/query_responses/proto_query_response.hpp
  shared_model/backend/protobuf/query_responses/proto_role_permissions_response.hpp
  shared_model/backend/protobuf/query_responses/proto_roles_response.hpp
  shared_model/backend/protobuf/query_responses/proto_signatories_response.hpp
  shared_model/backend/protobuf/query_responses/proto_transaction_response.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/query_responses/account_asset_response.hpp
  shared_model/interfaces/query_responses/account_detail_response.hpp
  shared_model/interfaces/query_responses/account_response.hpp
  shared_model/interfaces/query_responses/asset_response.hpp
  shared_model/interfaces/query_responses/error_query_response.hpp
  shared_model/interfaces/query_responses/impl/account_asset_response.cpp
  shared_model/interfaces/query_responses/impl/account_detail_response.cpp
  shared_model/interfaces/query_responses/impl/account_response.cpp
  shared_model/interfaces/query_responses/impl/asset_response.cpp
  shared_model/interfaces/query_responses/impl/error_query_response.cpp
  shared_model/interfaces/query_responses/impl/query_response.cpp
  shared_model/interfaces/query_responses/impl/role_permissions.cpp
  shared_model/interfaces/query_responses/impl/roles_response.cpp
  shared_model/interfaces/query_responses/impl/signatories_response.cpp
  shared_model/interfaces/query_responses/impl/transactions_response.cpp
  shared_model/interfaces/query_responses/query_response.hpp
  shared_model/interfaces/query_responses/role_permissions.hpp
  shared_model/interfaces/query_responses/roles_response.hpp
  shared_model/interfaces/query_responses/signatories_response.hpp
  shared_model/interfaces/query_responses/transactions_response.hpp
  shared_model/utils/visitor_apply_for_all.hpp
  test/module/shared_model/backend_proto/shared_proto_query_responses_test.cpp
Labels: legacy, needs-review, query

#1437 Fix/bindings get account assets
  shared_model/packages/javascript/tests/queryBuilder.js
  test/module/shared_model/bindings/QueryTest.java
  test/module/shared_model/bindings/query-test.py
Labels: API, SDK, tests

#1446 BlocksQueryBuilder in bingins
  shared_model/bindings/CMakeLists.txt
  shared_model/bindings/bindings.i
  shared_model/bindings/model_blocks_query_builder.cpp
  shared_model/bindings/model_blocks_query_builder.hpp
  test/module/shared_model/bindings/BlocksQueryTest.java
  test/module/shared_model/bindings/CMakeLists.txt
  test/module/shared_model/bindings/blocks-query-test.py
Labels: SDK, needs-review

#1438 Feature/block query processing
  irohad/execution/impl/query_execution.cpp
  irohad/execution/query_execution.hpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor.hpp
  irohad/torii/processor/query_processor_impl.hpp
  shared_model/backend/protobuf/queries/proto_blocks_query.hpp
  shared_model/builders/protobuf/query_responses/proto_block_query_response_builder.cpp
  shared_model/builders/protobuf/query_responses/proto_block_query_response_builder.hpp
  shared_model/builders/query_responses/block_query_response_builder.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_mocks.hpp
  test/module/irohad/validation/query_execution.cpp
  test/module/shared_model/builders/protobuf/test_query_builder.hpp
Labels: new-feature, query

#1455 Check for account name
  iroha-cli/main.cpp
Labels: cli, needs-review

#1426 Fix config file used in release Docker image
  docker/release/entrypoint.sh
Labels: infrastructure, needs-review

#1454 Fix variable forward for variadic in Windows build
  shared_model/interfaces/iroha_internal/block_variant.cpp
Labels: windows

#1450 Prepare YAC for BFT OS and gossip vote propagation
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/supermajority_checker_impl.cpp
  irohad/consensus/yac/impl/supermajority_checker_impl.hpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/impl/yac_crypto_provider_impl.cpp
  irohad/consensus/yac/impl/yac_crypto_provider_impl.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/storage/impl/yac_block_storage.cpp
  irohad/consensus/yac/storage/impl/yac_proposal_storage.cpp
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/storage/yac_block_storage.hpp
  irohad/consensus/yac/storage/yac_common.hpp
  irohad/consensus/yac/storage/yac_proposal_storage.hpp
  irohad/consensus/yac/storage/yac_vote_storage.hpp
  irohad/consensus/yac/supermajority_checker.hpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/consensus/yac/transport/yac_network_interface.hpp
  irohad/consensus/yac/yac.hpp
  irohad/consensus/yac/yac_crypto_provider.hpp
  irohad/consensus/yac/yac_gate.hpp
  irohad/consensus/yac/yac_types.hpp
  schema/yac.proto
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/yac_block_storage_test.cpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_proposal_storage_test.cpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
Labels: needs-review, ordering

#1434 Use new permissions in builders/bindings
  irohad/execution/impl/command_executor.cpp
  irohad/execution/impl/query_execution.cpp
  shared_model/backend/protobuf/from_old.hpp
  shared_model/backend/protobuf/impl/permissions.cpp
  shared_model/backend/protobuf/permissions.hpp
  shared_model/backend/protobuf/query_responses/impl/proto_role_permissions_response.cpp
  shared_model/backend/protobuf/query_responses/proto_role_permissions_response.hpp
  shared_model/bindings/bindings.i
  shared_model/bindings/model_transaction_builder.cpp
  shared_model/bindings/model_transaction_builder.hpp
  shared_model/builders/protobuf/builder_templates/query_response_template.hpp
  shared_model/builders/protobuf/builder_templates/transaction_template.hpp
  shared_model/interfaces/impl/permissions.cpp
  shared_model/interfaces/permissions.hpp
  shared_model/interfaces/query_responses/impl/role_permissions.cpp
  shared_model/interfaces/query_responses/role_permissions.hpp
  shared_model/packages/javascript/tests/txbuilder.js
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/create_account_test.cpp
  test/integration/acceptance/create_domain_test.cpp
  test/integration/acceptance/create_role_test.cpp
  test/integration/acceptance/get_transactions_test.cpp
  test/integration/acceptance/query_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_heavy_data.cpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/execution/command_validate_execute_test.cpp
  test/module/irohad/validation/query_execution.cpp
  test/module/shared_model/backend_proto/permissions_test.cpp
  test/module/shared_model/bindings/BuilderTest.java
  test/module/shared_model/bindings/builder-test.py
  test/module/shared_model/builders/common_objects/query_response_builder_test.cpp
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: SDK, legacy, needs-review

#1453 [feature] Flat file interface
  irohad/ametsuchi/impl/flat_file/flat_file.cpp
  irohad/ametsuchi/impl/flat_file/flat_file.hpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/key_value_storage.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
Labels: ametsuchi, needs-review

#1462 Fix query_test RC
  irohad/torii/processor/impl/query_processor_impl.cpp
  test/integration/acceptance/query_test.cpp
Labels: bug, query

#1452 Fix bugs related to SetAccountDetail
  irohad/execution/impl/command_executor.cpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/set_account_detail_test.cpp
  test/module/irohad/execution/command_validate_execute_test.cpp
Labels: bug, command, tests

#1476 Fix dev build
  test/integration/acceptance/set_account_detail_test.cpp
Labels: needs-review, pri:critical

#1474 Fix issues with GetTransaction validation
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/query_validator.hpp
  test/module/shared_model/bindings/QueryTest.java
  test/module/shared_model/bindings/query-test.py
Labels: query

#1411 Update to new block variant
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.cpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  irohad/network/consensus_gate.hpp
  irohad/simulator/block_creator.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/synchronizer/synchronizer.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_hash_provider_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/simulator/simulator_mocks.hpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: legacy, needs-review

#1473 Add test for GetAccountAssets qry
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/get_account_assets_test.cpp
Labels: query, tests

#1470 Fix TransferAsset strange behavior
  irohad/execution/impl/command_executor.cpp
  test/integration/acceptance/transfer_asset_test.cpp
Labels: bug, command, needs-review

#1475 Feature/hash from blob
  shared_model/cryptography/hash.hpp
  shared_model/cryptography/model_impl/blob.cpp
  shared_model/cryptography/model_impl/hash.cpp
Labels: needs-review

#1481 Add missing cmake dependency
  irohad/synchronizer/CMakeLists.txt
Labels: needs-review, pri:blocker

#1469 Transaction sequence interface
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/common_objects/transaction_sequence_common.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  shared_model/interfaces/iroha_internal/transaction_sequence.hpp
  shared_model/validators/CMakeLists.txt
  shared_model/validators/transactions_collection/signed_transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/signed_transactions_collection_validator.hpp
  shared_model/validators/transactions_collection/transactions_collection_validator.hpp
  shared_model/validators/transactions_collection/unsigned_transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/unsigned_transactions_collection_validator.hpp
Labels: needs-review, new-feature

#1472 Get top block function
  irohad/ametsuchi/block_query.hpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/main/impl/ordering_init.cpp
  irohad/main/impl/ordering_init.hpp
  irohad/main/irohad.cpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/block_query_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
Labels: ametsuchi, needs-review, tests

#1451 Add grant permission test
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/grant_permission_test.cpp
Labels: needs-correction, tests

#1460 Blocks streaming
  example/python/.gitignore
  example/python/blocks-query.py
  irohad/torii/impl/query_service.cpp
  irohad/torii/query_client.cpp
  irohad/torii/query_client.hpp
  irohad/torii/query_service.hpp
  schema/endpoint.proto
  shared_model/builders/default_builders.hpp
  test/module/irohad/torii/CMakeLists.txt
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/torii/torii_service_query_test.cpp
Labels: API, needs-correction, query

#1486 Command validator error responses
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/execution/command_executor.hpp
  irohad/execution/impl/command_executor.cpp
  test/module/irohad/execution/command_validate_execute_test.cpp
Labels: ametsuchi, command, new-feature

#1482 Refactor TransferAsset acceptance test
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/transfer_asset_test.cpp
Labels: command, legacy, tests

#1500 Remove hasAccountGrantablePermissions in qry exec
  irohad/execution/impl/query_execution.cpp
  shared_model/interfaces/impl/permissions.cpp
  shared_model/interfaces/permissions.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/execution/CMakeLists.txt
  test/module/irohad/execution/query_execution_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/validation/CMakeLists.txt
Labels: legacy, needs-review, query

#1496 Cache CLI input values
  iroha-cli/interactive/impl/interactive_common_cli.cpp
  iroha-cli/interactive/impl/interactive_query_cli.cpp
  iroha-cli/interactive/impl/interactive_status_cli.cpp
  iroha-cli/interactive/impl/interactive_transaction_cli.cpp
  iroha-cli/interactive/interactive_common_cli.hpp
  iroha-cli/interactive/interactive_query_cli.hpp
  iroha-cli/interactive/interactive_transaction_cli.hpp
Labels: cli, new-feature

#1503 Fix max call in keys manager
  libs/crypto/keys_manager_impl.cpp
Labels: infrastructure

#1499 Migrate to postgres bitstring perms
  irohad/ametsuchi/impl/postgres_wsv_command.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/storage_impl.cpp
  shared_model/backend/protobuf/from_old.hpp
  shared_model/backend/protobuf/query_responses/impl/proto_role_permissions_response.cpp
  shared_model/interfaces/impl/permissions.cpp
  shared_model/interfaces/permissions.hpp
Labels: ametsuchi, legacy, needs-review

#1510 Remove PermissionSet constraints
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/integration/acceptance/create_role_test.cpp
  test/module/shared_model/validators/transaction_validator_test.cpp
Labels: needs-review

#1513 Fix error message for Peer's address
  shared_model/validators/field_validator.cpp
Labels: bug, needs-review

#1392 New CI pipeline
  .jenkinsci/build-coverage.groovy
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-cleanup.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/enums.groovy
  .jenkinsci/github-api.groovy
  .jenkinsci/linux-post-step.groovy
  .jenkinsci/mac-debug-build.groovy
  .jenkinsci/mac-release-build.groovy
  .jenkinsci/notifications.groovy
  .jenkinsci/post-step.groovy
  .jenkinsci/pre-build.groovy
  .jenkinsci/release-build.groovy
  .jenkinsci/selected-branches-coverage.groovy
  .jenkinsci/set-parallelism.groovy
  .jenkinsci/test-launcher.groovy
  Jenkinsfile
Labels: infrastructure
