Repository hyperledger/iroha, pull requests merged in 2018-07, with the labels that each got.

#1509 SOCI infrastructure - CMake and Dockerfiles
  cmake/Modules/Findpq.cmake
  cmake/Modules/Findpqxx.cmake
  cmake/Modules/Findsoci.cmake
  cmake/dependencies.cmake
  docker/dependencies/Dockerfile
  docker/develop/Dockerfile
  docs/source/guides/build.rst
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  snap/snapcraft.yaml
  test/system/CMakeLists.txt
Labels: infrastructure, needs-review

#1493 Stateful error responses to log
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/ametsuchi/temporary_wsv.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/validation/CMakeLists.txt
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  irohad/validation/stateful_validator.hpp
  irohad/validation/stateful_validator_common.hpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/validation/validation_mocks.hpp
Labels: ametsuchi, new-feature

#1515 Add color diagnostics
  CMakeLists.txt
Labels: infrastructure, needs-review

#1522 Reuse Peer in mst.proto
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  schema/mst.proto
Labels: mst

#1520 Fix tests for createRole with empty set of permissions
  shared_model/packages/javascript/tests/txbuilder.js
  test/module/shared_model/bindings/BuilderTest.java
  test/module/shared_model/bindings/builder-test.py
Labels: SDK

#1511 Remove account_id from Add/Subtract commands
  docs/source/api/commands.rst
  docs/source/guides/libraries/python.rst
  example/python/tx-example.py
  iroha-cli/interactive/impl/interactive_transaction_cli.cpp
  irohad/execution/impl/command_executor.cpp
  irohad/model/commands/add_asset_quantity.hpp
  irohad/model/commands/subtract_asset_quantity.hpp
  irohad/model/converters/impl/json_command_factory.cpp
  irohad/model/converters/impl/pb_command_factory.cpp
  irohad/model/generators/command_generator.hpp
  irohad/model/generators/impl/command_generator.cpp
  irohad/model/impl/model_operators.cpp
  schema/commands.proto
  shared_model/backend/protobuf/commands/impl/proto_add_asset_quantity.cpp
  shared_model/backend/protobuf/commands/impl/proto_subtract_asset_quantity.cpp
  shared_model/backend/protobuf/commands/proto_add_asset_quantity.hpp
  shared_model/backend/protobuf/commands/proto_subtract_asset_quantity.hpp
  shared_model/bindings/model_transaction_builder.cpp
  shared_model/bindings/model_transaction_builder.hpp
  shared_model/builders/protobuf/builder_templates/transaction_template.hpp
  shared_model/interfaces/commands/add_asset_quantity.hpp
  shared_model/interfaces/commands/impl/add_asset_quantity.cpp
  shared_model/interfaces/commands/impl/subtract_asset_quantity.cpp
  shared_model/interfaces/commands/subtract_asset_quantity.hpp
  shared_model/packages/javascript/tests/txbuilder.js
  shared_model/validators/transaction_validator.hpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/get_account_assets_test.cpp
  test/integration/acceptance/grant_permission_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/pipeline/pipeline_test.cpp
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/execution/command_validate_execute_test.cpp
  test/module/irohad/model/converters/json_commands_test.cpp
  test/module/irohad/model/converters/pb_commands_test.cpp
  test/module/irohad/model/operators/model_operators_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/shared_model/backend_proto/shared_proto_transaction_test.cpp
  test/module/shared_model/bindings/BuilderTest.java
  test/module/shared_model/bindings/builder-test.py
  test/module/shared_model/builders/protobuf/block_builder_test.cpp
  test/regression/regression_test.cpp
Labels: API, command, legacy

#1502 Add oneof case bound check
  shared_model/validators/query_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/module/shared_model/validators/query_validator_test.cpp
  test/module/shared_model/validators/transaction_validator_test.cpp
Labels: bug, command, query

#1504 Feature/batch meta
  example/admin@test.priv
  example/admin@test.pub
  example/genesis.block
  example/node0.priv
  example/node0.pub
  example/test@test.priv
  example/test@test.pub
  irohad/model/converters/impl/pb_transaction_factory.cpp
  schema/block.proto
  shared_model/backend/protobuf/batch_meta.hpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/builders/protobuf/builder_templates/transaction_template.hpp
  shared_model/interfaces/common_objects/types.hpp
  shared_model/interfaces/iroha_internal/batch_meta.hpp
  shared_model/interfaces/transaction.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/module/shared_model/backend_proto/shared_proto_transaction_test.cpp
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/transaction_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: API, needs-review, new-feature

#1518 Improve Findgrpc.cmake
  cmake/Modules/Findgrpc.cmake
Labels: needs-review

#1534 Fix develop
  test/module/shared_model/validators/transaction_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: needs-review

#1529 Python example fix
  example/python/tx-example.py
Labels: SDK, bug

#1508 Stateful response
  iroha-cli/interactive/impl/interactive_status_cli.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/ametsuchi/temporary_wsv.hpp
  irohad/execution/impl/command_executor.cpp
  irohad/main/application.cpp
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/impl/peer_communication_service_impl.hpp
  irohad/network/peer_communication_service.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  irohad/simulator/verified_proposal_creator.hpp
  irohad/torii/impl/command_service.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor_impl.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/stateful_validator_common.hpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.cpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.hpp
  shared_model/builders/transaction_responses/transaction_status_builder.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: needs-review

#1507 Java bindings package name
  .jenkinsci/bindings.groovy
  Jenkinsfile
Labels: SDK, infrastructure

#1485 Binary Testing Framework
  example/python/.gitignore
  example/python/permissions/can_add_asset_qty.py
  example/python/permissions/can_add_my_signatory.py
  example/python/permissions/can_add_peer.py
  example/python/permissions/can_add_signatory.py
  example/python/permissions/can_append_role.py
  example/python/permissions/can_create_account.py
  example/python/permissions/can_create_asset.py
  example/python/permissions/can_create_domain.py
  example/python/permissions/can_create_role.py
  example/python/permissions/can_detach_role.py
  example/python/permissions/can_get_all_acc_ast.py
  example/python/permissions/can_get_all_acc_ast_txs.py
  example/python/permissions/can_get_all_acc_detail.py
  example/python/permissions/can_get_all_acc_txs.py
  example/python/permissions/can_get_all_accounts.py
  example/python/permissions/can_get_all_signatories.py
  example/python/permissions/can_get_all_txs.py
  example/python/permissions/can_get_domain_acc_ast.py
  example/python/permissions/can_get_domain_acc_ast_txs.py
  example/python/permissions/can_get_domain_acc_detail.py
  example/python/permissions/can_get_domain_acc_txs.py
  example/python/permissions/can_get_domain_accounts.py
  example/python/permissions/can_get_domain_signatories.py
  example/python/permissions/can_get_my_acc_ast.py
  example/python/permissions/can_get_my_acc_ast_txs.py
  example/python/permissions/can_get_my_acc_detail.py
  example/python/permissions/can_get_my_acc_txs.py
  example/python/permissions/can_get_my_account.py
  example/python/permissions/can_get_my_signatories.py
  example/python/permissions/can_get_my_txs.py
  example/python/permissions/can_get_roles.py
  example/python/permissions/can_grant_can_add_my_signatory.py
  example/python/permissions/can_grant_can_remove_my_signatory.py
  example/python/permissions/can_grant_can_set_my_account_detail.py
  example/python/permissions/can_grant_can_set_my_quorum.py
  example/python/permissions/can_grant_can_transfer_my_assets.py
  example/python/permissions/can_read_assets.py
  example/python/permissions/can_receive.py
  example/python/permissions/can_remove_my_signatory.py
  example/python/permissions/can_remove_signatory.py
  example/python/permissions/can_set_detail.py
  example/python/permissions/can_set_my_account_detail.py
  example/python/permissions/can_set_my_quorum.py
  example/python/permissions/can_set_quorum.py
  example/python/permissions/can_subtract_asset_qty.py
  example/python/permissions/can_transfer.py
  example/python/permissions/can_transfer_my_assets.py
  example/python/permissions/commons.py
  test/integration/CMakeLists.txt
  test/integration/binary/CMakeLists.txt
  test/integration/binary/binaries_test.cpp
  test/integration/binary/binaries_test_fixture.hpp
  test/integration/binary/launchers.cpp
  test/integration/binary/launchers.hpp
Labels: SDK, tests

#1521 Fix issue with synchronization after time gap
  irohad/main/impl/block_loader_init.cpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/block_loader_impl.hpp
  shared_model/validators/any_block_validator.hpp
  shared_model/validators/block_validator.hpp
  shared_model/validators/blocks_query_validator.hpp
  shared_model/validators/container_validator.hpp
  shared_model/validators/empty_block_validator.hpp
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  shared_model/validators/proposal_validator.hpp
  shared_model/validators/query_validator.hpp
  shared_model/validators/signable_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/module/irohad/network/block_loader_test.cpp
Labels: bug

#1532 Add GetPendingTransactions query to shared model
  docs/source/api/queries.rst
  docs/source/core_concepts/glossary.rst
  irohad/execution/impl/query_execution.cpp
  irohad/execution/query_execution.hpp
  schema/queries.proto
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/queries/impl/proto_get_pending_transactions.cpp
  shared_model/backend/protobuf/queries/proto_get_pending_transactions.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/bindings/model_query_builder.cpp
  shared_model/bindings/model_query_builder.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/queries/get_pending_transactions.hpp
  shared_model/interfaces/queries/impl/get_pending_transactions.cpp
  shared_model/interfaces/queries/query.hpp
  shared_model/validators/query_validator.hpp
Labels: needs-review, query

#1484 Add implementation of on_demand ordering service
  irohad/ordering/impl/on_demand_ordering_service.cpp
  irohad/ordering/impl/on_demand_ordering_service.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/on_demand_os_transport.hpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/on_demand_os_test.cpp
Labels: new-feature, ordering

#1536 Check the signatures for its size
  shared_model/validators/field_validator.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/module/irohad/network/block_loader_test.cpp
Labels: bug, needs-review, pri:critical

#1549 Transaction Sequence Validator
  shared_model/builders/protobuf/transaction_sequence_builder.hpp
  shared_model/builders/protobuf/unsigned_proto.hpp
  shared_model/interfaces/iroha_internal/batch_meta.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  shared_model/interfaces/iroha_internal/transaction_sequence.hpp
  shared_model/validators/CMakeLists.txt
  shared_model/validators/transactions_collection/any_order_validator.hpp
  shared_model/validators/transactions_collection/batch_order_validator.cpp
  shared_model/validators/transactions_collection/batch_order_validator.hpp
  shared_model/validators/transactions_collection/order_validator.hpp
  shared_model/validators/transactions_collection/signed_transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/signed_transactions_collection_validator.hpp
  shared_model/validators/transactions_collection/transactions_collection_validator.hpp
  shared_model/validators/transactions_collection/unsigned_transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/unsigned_transactions_collection_validator.hpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
Labels: needs-review, new-feature, tests

#1535 GetAccountDetail interface: Postgres queries
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/wsv_query.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
Labels: ametsuchi, needs-review, query

#1540 GetAccountDetail: high interface
  docs/source/api/queries.rst
  irohad/execution/impl/query_execution.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_account_detail.cpp
  shared_model/backend/protobuf/queries/proto_get_account_detail.hpp
  shared_model/bindings/model_query_builder.cpp
  shared_model/bindings/model_query_builder.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/interfaces/queries/get_account_detail.hpp
  shared_model/interfaces/queries/impl/get_account_detail.cpp
  shared_model/schema/queries.proto
  test/module/shared_model/bindings/QueryTest.java
  test/module/shared_model/bindings/query-test.py
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: needs-review, new-feature, query

#1548 Update transaction sequence
  shared_model/backend/protobuf/transaction.hpp
  shared_model/builders/protobuf/transaction_sequence_builder.hpp
  shared_model/builders/protobuf/unsigned_proto.hpp
  shared_model/interfaces/common_objects/transaction_sequence_common.hpp
  shared_model/interfaces/iroha_internal/batch_meta.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  shared_model/interfaces/iroha_internal/transaction_sequence.hpp
  shared_model/interfaces/transaction.hpp
  shared_model/validators/transaction_validator.hpp
  shared_model/validators/transactions_collection/any_order_validator.hpp
  shared_model/validators/transactions_collection/batch_order_validator.cpp
  shared_model/validators/transactions_collection/batch_order_validator.hpp
  shared_model/validators/transactions_collection/order_validator.hpp
  shared_model/validators/transactions_collection/signed_transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/signed_transactions_collection_validator.hpp
  shared_model/validators/transactions_collection/transactions_collection_validator.hpp
  shared_model/validators/transactions_collection/unsigned_transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/unsigned_transactions_collection_validator.hpp
  test/framework/batch_helper.hpp
  test/module/shared_model/backend_proto/CMakeLists.txt
  test/module/shared_model/backend_proto/proto_transaction_sequence_test.cpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
Labels: needs-review, new-feature, tests

#1558 Fix build of Binary Testing Framework
  test/integration/binary/CMakeLists.txt
Labels: bug, infrastructure, needs-review

#1542 Implement non-copyable block
  CMakeLists.txt
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/network/impl/block_loader_impl.cpp
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/common_objects/noncopyable_proto.hpp
  shared_model/backend/protobuf/impl/block.cpp
  shared_model/builders/protobuf/unsigned_proto.hpp
  shared_model/converters/protobuf/json_proto_converter.hpp
  shared_model/utils/lazy_initializer.hpp
  test/benchmark/bm_proto_creation.cpp
  test/module/irohad/ametsuchi/block_query_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
Labels: legacy, needs-review

#1541 Rewrite StatusStream with rxcpp
  irohad/main/application.cpp
  irohad/torii/command_service.hpp
  irohad/torii/impl/command_service.cpp
  libs/common/is_any.hpp
  libs/common/timeout.hpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/system/CMakeLists.txt
  test/system/irohad_test.cpp
Labels: legacy, needs-review

#1505 Feature/soci
  cmake/Modules/Findpq.cmake
  cmake/Modules/Findpqxx.cmake
  cmake/Modules/Findsoci.cmake
  cmake/dependencies.cmake
  docker/dependencies/Dockerfile
  docker/develop/Dockerfile
  docs/source/guides/build.rst
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/postgres_block_index.cpp
  irohad/ametsuchi/impl/postgres_block_index.hpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/postgres_ordering_service_persistent_state.cpp
  irohad/ametsuchi/impl/postgres_ordering_service_persistent_state.hpp
  irohad/ametsuchi/impl/postgres_wsv_command.cpp
  irohad/ametsuchi/impl/postgres_wsv_command.hpp
  irohad/ametsuchi/impl/postgres_wsv_common.hpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  snap/snapcraft.yaml
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/block_query_test.cpp
  test/module/irohad/ametsuchi/block_query_transfer_test.cpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/system/CMakeLists.txt
  test/system/irohad_test.cpp
Labels: ametsuchi

#1552 Transaction Batches Stateful Validation
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/ametsuchi/temporary_wsv.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/validation/CMakeLists.txt
  test/module/irohad/validation/stateful_validator_test.cpp
Labels: ametsuchi, needs-review, tests

#1562 Increase presision lifetime in insertAsset
  irohad/ametsuchi/impl/postgres_wsv_command.cpp
Labels: ametsuchi, bug

#1501 Add Permissions Docs Compiler
  docs/README.md
  docs/permissions_compiler/compiler.py
  docs/permissions_compiler/consts.py
  docs/permissions_compiler/glossary.py
  docs/permissions_compiler/rst.py
  docs/source/Makefile
  docs/source/core_concepts/glossary.rst
  docs/source/maintenance/permissions.rst
  docs/source/permissions/introduction.txt
  docs/source/permissions/matrix.csv
Labels: documentation, needs-review

#1564 Mark builder classes as deprecated
  shared_model/builders/common_objects/account_asset_builder.hpp
  shared_model/builders/common_objects/account_builder.hpp
  shared_model/builders/common_objects/amount_builder.hpp
  shared_model/builders/common_objects/asset_builder.hpp
  shared_model/builders/common_objects/common.hpp
  shared_model/builders/common_objects/domain_builder.hpp
  shared_model/builders/common_objects/peer_builder.hpp
  shared_model/builders/common_objects/signature_builder.hpp
  shared_model/builders/protobuf/block_variant_transport_builder.hpp
  shared_model/builders/protobuf/builder_templates/block_template.hpp
  shared_model/builders/protobuf/builder_templates/blocks_query_template.hpp
  shared_model/builders/protobuf/builder_templates/empty_block_template.hpp
  shared_model/builders/protobuf/builder_templates/proposal_template.hpp
  shared_model/builders/protobuf/builder_templates/query_response_template.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/builders/protobuf/builder_templates/transaction_template.hpp
  shared_model/builders/protobuf/common_objects/proto_account_asset_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_account_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_amount_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_asset_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_domain_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_peer_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_signature_builder.hpp
  shared_model/builders/protobuf/query_responses/proto_block_query_response_builder.hpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.hpp
  shared_model/builders/protobuf/transaction_sequence_builder.hpp
  shared_model/builders/protobuf/transport_builder.hpp
  shared_model/builders/protobuf/unsigned_proto.hpp
  shared_model/builders/query_responses/block_query_response_builder.hpp
  shared_model/builders/transaction_responses/transaction_status_builder.hpp
  shared_model/cryptography/blob.hpp
  shared_model/interfaces/common_objects/types.hpp
Labels: legacy

#1569 Java bindings fix
  test/module/shared_model/bindings/QueryTest.java
Labels: SDK, needs-review

#1543 New client api
  shared_model/bindings/CMakeLists.txt
  shared_model/bindings/bindings.i
  shared_model/bindings/client_api.cpp
  shared_model/bindings/client_api.hpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/shared_model/bindings/CMakeLists.txt
  test/module/shared_model/bindings/ClientTest.java
  test/module/shared_model/bindings/client-test.py
Labels: SDK, tests

#1572 Refactor QueryProcessor interface
  irohad/torii/impl/query_service.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor.hpp
  irohad/torii/processor/query_processor_impl.hpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/query_service_test.cpp
  test/module/irohad/torii/torii_mocks.hpp
  test/module/irohad/torii/torii_service_query_test.cpp
Labels: query

#1574 Removed exception in batch SFV
  irohad/validation/impl/stateful_validator_impl.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
Labels: needs-review

#1563 Mock builder introduction
  irohad/validation/utils.hpp
  test/module/irohad/validation/CMakeLists.txt
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: tests

#1579 Replace QPF with QueryExecution mockable module
  irohad/execution/CMakeLists.txt
  irohad/execution/impl/query_execution_impl.cpp
  irohad/execution/query_execution.hpp
  irohad/execution/query_execution_impl.hpp
  irohad/main/application.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor.hpp
  irohad/torii/processor/query_processor_impl.hpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/fuzzing/find_fuzz.cpp
  test/fuzzing/status_fuzz.cpp
  test/fuzzing/torii_fuzz.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/execution/execution_mocks.hpp
  test/module/irohad/execution/query_execution_test.cpp
  test/module/irohad/model/model_mocks.hpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
Labels: query

#1582 Ordering Gate Batch Support
  irohad/network/ordering_gate.hpp
  irohad/network/ordering_gate_transport.hpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_gate_impl.hpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  schema/ordering.proto
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/ordering/ordering_gate_test.cpp
Labels: ordering

#1551 Fix jenkins build link
  README.md
Labels: bug, infrastructure, needs-review

#1583 Implement test batch builder
  shared_model/interfaces/transaction.hpp
  test/framework/batch_helper.hpp
  test/module/shared_model/backend_proto/proto_batch_test.cpp
  test/module/shared_model/builders/protobuf/test_transaction_builder.hpp
Labels: needs-review, tests

#1570 Add fix for Signable::operator==
  shared_model/interfaces/base/signable.hpp
  test/module/shared_model/CMakeLists.txt
  test/module/shared_model/interface_test.cpp
Labels: needs-review

#1561 OAdd thread-safe collection set
  libs/cache/collection_set.hpp
  test/module/libs/cache/CMakeLists.txt
  test/module/libs/cache/transaction_cache_test.cpp
Labels: needs-review

#1586 Ordering Service Batch Support
  irohad/network/ordering_service_transport.hpp
  irohad/ordering/impl/ordering_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.hpp
  test/module/irohad/ordering/ordering_service_test.cpp
Labels: needs-review

#1589 Fix link to the docs
  README.md
Labels: documentation, needs-review

#1524 Change invariant for amount in query
  test/integration/acceptance/get_account_assets_test.cpp
Labels: API, needs-review

#1595 Add batchMeta to transaction builder
  shared_model/bindings/model_transaction_builder.cpp
  shared_model/bindings/model_transaction_builder.hpp
Labels: SDK, needs-review

#1601 Rename tx hashes to reduced hashes
  irohad/validation/impl/stateful_validator_impl.cpp
  shared_model/backend/protobuf/batch_meta.hpp
  shared_model/builders/protobuf/builder_templates/transaction_template.hpp
  shared_model/interfaces/iroha_internal/batch_meta.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  shared_model/schema/transaction.proto
  shared_model/validators/transactions_collection/batch_order_validator.cpp
  test/module/shared_model/validators/field_validator_test.cpp
Labels: release

#1602 Update cmake
  CMakeLists.txt
  shared_model/CMakeLists.txt
Labels: infrastructure

#1593 Add hash to proposal
  shared_model/backend/protobuf/impl/proposal.cpp
  shared_model/backend/protobuf/proposal.hpp
  shared_model/interfaces/iroha_internal/proposal.hpp
Labels: needs-review

#1608 Fix spdlog segfault
  libs/logger/logger.cpp
Labels: bug

#1587 Proposal factory
  irohad/main/application.cpp
  irohad/main/impl/ordering_init.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  irohad/ordering/impl/ordering_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  irohad/validation/CMakeLists.txt
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  shared_model/backend/protobuf/proto_proposal_factory.hpp
  shared_model/interfaces/iroha_internal/proposal_factory.hpp
  shared_model/interfaces/iroha_internal/unsafe_proposal_factory.hpp
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/validation/CMakeLists.txt
  test/module/irohad/validation/stateful_validator_test.cpp
  test/module/shared_model/backend_proto/CMakeLists.txt
  test/module/shared_model/backend_proto/common_objects/proto_common_objects_factory_test.cpp
  test/module/shared_model/backend_proto/proto_proposal_factory_test.cpp
  test/module/shared_model/validators/validators.hpp
Labels: needs-review

#1592 On demand ordering service fixes
  irohad/main/impl/ordering_init.hpp
  irohad/ordering/CMakeLists.txt
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/impl/single_peer_ordering_service.cpp
  irohad/ordering/impl/single_peer_ordering_service.hpp
  irohad/ordering/on_demand_ordering_service.hpp
  irohad/ordering/on_demand_os_transport.hpp
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/on_demand_os_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
Labels: needs-review, ordering

#1615 Fix ToriiService Streaming Full Pipeline Test
  test/module/irohad/torii/torii_service_test.cpp
Labels: bug, needs-review, tests

#1591 Feature/remove observables block query
  irohad/ametsuchi/block_query.hpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/wsv_restorer_impl.cpp
  irohad/execution/impl/query_execution_impl.cpp
  irohad/network/impl/block_loader_service.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/block_query_test.cpp
  test/module/irohad/ametsuchi/block_query_transfer_test.cpp
  test/module/irohad/execution/query_execution_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
Labels: needs-review, query
