Repository hyperledger/iroha, pull requests merged in 2018-10, with the labels that each got.

#1744 CI test reports
  .jenkinsci/debug-build.groovy
  .jenkinsci/helpers/platform_tag.py
  Jenkinsfile
Labels: infrastructure, needs-review

#1737 Add MST test for possible replays
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  libs/cache/abstract_cache.hpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/system/irohad_test.cpp
Labels: mst, needs-review, tests

#1739 Add try-catch to WsvQuery methods
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/postgres_ordering_service_persistent_state.hpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/impl/soci_utils.hpp
Labels: ametsuchi, needs-review

#1735 Add irohad verbosity flag
  irohad/main/irohad.cpp
Labels: needs-review

#1729 Consensus Round as Key in YacStorages
  irohad/consensus/CMakeLists.txt
  irohad/consensus/impl/round.cpp
  irohad/consensus/round.hpp
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/impl/peer_orderer_impl.cpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.cpp
  irohad/consensus/yac/storage/impl/yac_block_storage.cpp
  irohad/consensus/yac/storage/impl/yac_common.cpp
  irohad/consensus/yac/storage/impl/yac_proposal_storage.cpp
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/storage/yac_block_storage.hpp
  irohad/consensus/yac/storage/yac_common.hpp
  irohad/consensus/yac/storage/yac_proposal_storage.hpp
  irohad/consensus/yac/storage/yac_vote_storage.hpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/yac_pb_converters.hpp
  irohad/consensus/yac/yac_gate.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  schema/yac.proto
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/consensus/yac/yac_block_storage_test.cpp
  test/module/irohad/consensus/yac/yac_common_test.cpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_hash_provider_test.cpp
  test/module/irohad/consensus/yac/yac_proposal_storage_test.cpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
Labels: consensus, needs-review

#1753 Separate range types; add missing MST link library
  irohad/consensus/yac/supermajority_checker.hpp
  irohad/multi_sig_transactions/CMakeLists.txt
  irohad/multi_sig_transactions/hash.hpp
  irohad/multi_sig_transactions/impl/gossip_propagation_strategy.cpp
  irohad/multi_sig_transactions/impl/hash.cpp
  irohad/multi_sig_transactions/impl/mst_processor.cpp
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/impl/mst_processor_stub.cpp
  irohad/multi_sig_transactions/mst_types.hpp
  irohad/multi_sig_transactions/state/CMakeLists.txt
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/multi_sig_transactions/storage/CMakeLists.txt
  irohad/multi_sig_transactions/transport/CMakeLists.txt
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/pending_txs_storage/impl/pending_txs_storage_impl.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor.hpp
  irohad/torii/processor/transaction_processor_impl.hpp
  shared_model/interfaces/base/signable.hpp
  shared_model/interfaces/common_objects/peer.hpp
  shared_model/interfaces/common_objects/range_types.hpp
  shared_model/interfaces/common_objects/types.hpp
  shared_model/interfaces/iroha_internal/proposal_factory.hpp
  shared_model/interfaces/iroha_internal/unsafe_proposal_factory.hpp
  shared_model/interfaces/query_responses/account_asset_response.hpp
  shared_model/interfaces/query_responses/transactions_response.hpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/module/irohad/multi_sig_transactions/CMakeLists.txt
  test/module/irohad/multi_sig_transactions/gossip_propagation_strategy_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: needs-review

#1756 Fix missing boost dependencies
  irohad/consensus/CMakeLists.txt
Labels: needs-review

#1743 Batch Polymorphism and Abstract Factory
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/impl/ordering_init.cpp
  irohad/main/impl/ordering_init.hpp
  irohad/network/ordering_service_transport.hpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.hpp
  irohad/ordering/impl/single_peer_ordering_service.cpp
  irohad/ordering/impl/single_peer_ordering_service.hpp
  irohad/torii/impl/command_service_impl.cpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/iroha_internal/transaction_batch.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory.cpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory_impl.cpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory_impl.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_impl.cpp
  shared_model/interfaces/iroha_internal/transaction_batch_impl.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_template_definitions.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence_factory.cpp
  shared_model/interfaces/iroha_internal/transaction_sequence_factory.hpp
  test/framework/batch_helper.hpp
  test/framework/result_fixture.hpp
  test/module/irohad/multi_sig_transactions/CMakeLists.txt
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/pending_txs_storage/CMakeLists.txt
  test/module/irohad/pending_txs_storage/pending_txs_storage_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/shared_model/backend_proto/CMakeLists.txt
  test/module/shared_model/backend_proto/proto_batch_test.cpp
  test/module/shared_model/backend_proto/proto_transaction_sequence_test.cpp
Labels: needs-review, shared model

#1755 fix irohad_test
  test/system/irohad_test.cpp
Labels: needs-correction, tests

#1750 Add batch parser and transport factory
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/multi_sig_transactions/transport/mst_transport_grpc.hpp
  irohad/network/mst_transport.hpp
  irohad/torii/command_service.hpp
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/impl/command_service_impl.hpp
  irohad/torii/impl/command_service_transport_grpc.cpp
  irohad/torii/impl/command_service_transport_grpc.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.hpp
  libs/common/default_constructible_unary_fn.hpp
  shared_model/backend/protobuf/proto_transport_factory.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/iroha_internal/abstract_transport_factory.hpp
  shared_model/interfaces/iroha_internal/proposal_factory.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_parser.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_parser_impl.cpp
  shared_model/interfaces/iroha_internal/transaction_batch_parser_impl.hpp
  shared_model/interfaces/iroha_internal/unsafe_proposal_factory.hpp
  shared_model/validators/abstract_validator.hpp
  shared_model/validators/default_validator.hpp
  shared_model/validators/signable_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/multi_sig_transactions/CMakeLists.txt
  test/module/irohad/multi_sig_transactions/transport_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
  test/module/shared_model/backend_proto/proto_block_factory_test.cpp
  test/module/shared_model/interface_mocks.hpp
  test/module/shared_model/validators/validators.hpp
Labels: needs-review

#1754 Remove wsv query dependency from chain validator
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/mutable_storage.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/validation/impl/chain_validator_impl.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
Labels: ametsuchi, needs-review

#1765 Move string builder implementation to cpp
  shared_model/CMakeLists.txt
  shared_model/cryptography/model_impl/CMakeLists.txt
  shared_model/interfaces/CMakeLists.txt
  shared_model/utils/CMakeLists.txt
  shared_model/utils/string_builder.cpp
  shared_model/utils/string_builder.hpp
Labels: needs-review, shared model

#1758 Add directory removal in tests
  test/framework/integration_framework/integration_test_framework.cpp
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/flat_file_test.cpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
  test/module/libs/crypto/keys_manager_test.cpp
  test/regression/regression_test.cpp
  test/system/irohad_test.cpp
Labels: needs-review, tests

#1751 Update block event
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
Labels: ordering

#1780 Fix build on some platforms
  test/module/irohad/multi_sig_transactions/mst_test_helpers.hpp
  test/module/irohad/network/CMakeLists.txt
  test/module/irohad/synchronizer/CMakeLists.txt
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: needs-review

#1775 Feature/genesis parser
  utils/genesis_parser.py
  utils/prepare.sh
Labels: needs-review

#1749 Feature/tx proto validation
  shared_model/validators/field_validator.cpp
  shared_model/validators/protobuf/proto_transaction_validator.hpp
  shared_model/validators/transaction_validator.hpp
  test/module/shared_model/validators/CMakeLists.txt
  test/module/shared_model/validators/protobuf/proto_tx_validator_test.cpp
  test/module/shared_model/validators/transaction_validator_test.cpp
Labels: needs-review, validation

#1772 Refactor block index to construct a single query for each block
  irohad/ametsuchi/impl/block_index.hpp
  irohad/ametsuchi/impl/postgres_block_index.cpp
  irohad/ametsuchi/impl/postgres_block_index.hpp
Labels: ametsuchi, needs-correction

#1782 internal: parseBatchesImpl fix
  shared_model/interfaces/iroha_internal/transaction_batch_parser_impl.cpp
Labels: needs-review, shared model

#1777 Fix chain validator
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/mutable_storage.hpp
  irohad/ametsuchi/peer_query.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/validation/chain_validator.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  irohad/validation/stateful_validator.hpp
  test/integration/CMakeLists.txt
  test/integration/validation/CMakeLists.txt
  test/integration/validation/chain_validator_storage_test.cpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/mutable_storage_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/validation_mocks.hpp
Labels: ametsuchi, needs-review, validation

#1770 Query Error Responses
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  irohad/ametsuchi/impl/postgres_query_executor.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/query_executor_factory.hpp
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor_impl.hpp
  shared_model/backend/protobuf/impl/proto_query_response_factory.cpp
  shared_model/backend/protobuf/proto_query_response_factory.hpp
  shared_model/interfaces/iroha_internal/query_response_factory.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
Labels: ametsuchi, needs-review

#1773 Fix bug with node synchronization
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/network/impl/block_loader_service.cpp
  irohad/network/impl/block_loader_service.hpp
  test/module/irohad/network/block_loader_test.cpp
Labels: bug

#1720 ITF checking statuses set
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/add_signatory_test.cpp
  test/integration/acceptance/create_account_test.cpp
  test/integration/acceptance/create_asset_test.cpp
  test/integration/acceptance/create_domain_test.cpp
  test/integration/acceptance/create_role_test.cpp
  test/integration/acceptance/invalid_fields_test.cpp
  test/integration/acceptance/remove_signatory_test.cpp
  test/integration/acceptance/set_account_detail_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/pipeline/batch_pipeline_test.cpp
Labels: needs-review, tests

#1774 Copy postgres healthcheck file to docker container
  docker/release/Dockerfile
Labels: infrastructure

#1771 refactor query response to use extern variant
  shared_model/backend/protobuf/query_responses/impl/proto_query_response.cpp
  shared_model/backend/protobuf/query_responses/proto_query_response.hpp
  shared_model/interfaces/iroha_internal/query_response_factory.hpp
  shared_model/interfaces/query_responses/impl/query_response.cpp
  shared_model/interfaces/query_responses/query_response.hpp
  shared_model/interfaces/query_responses/query_response_variant.hpp
  test/module/shared_model/backend_proto/proto_query_response_factory_test.cpp
Labels: needs-review, query, shared model

#1786 Refactor tx response variant with external templates
  irohad/torii/impl/command_service_transport_grpc.cpp
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/impl/proto_tx_status_factory.cpp
  shared_model/backend/protobuf/transaction_responses/impl/proto_tx_response.cpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/transaction_responses/impl/tx_response.cpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  shared_model/interfaces/transaction_responses/tx_response_variant.hpp
Labels: needs-correction, shared model

#1792 Fix/empty block appliance
  irohad/network/impl/block_loader_service.cpp
  shared_model/backend/protobuf/proto_block_factory.hpp
  shared_model/validators/default_validator.hpp
  shared_model/validators/transactions_collection/transactions_collection_validator.cpp
  shared_model/validators/transactions_collection/transactions_collection_validator.hpp
  test/module/shared_model/validators/CMakeLists.txt
  test/module/shared_model/validators/block_validator_test.cpp
Labels: needs-review, validation

#1787 Prepare Consensus for Two-Phase Commit
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/network/consensus_gate.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: needs-review, synchronization

#1790 Move signatories validation to SQL
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/ametsuchi/temporary_wsv.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/stateful_validator_common.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/validation/stateful_validator_test.cpp
Labels: ametsuchi, needs-review, validation

#1760 Feature/refactor query variant
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  shared_model/backend/protobuf/queries/impl/proto_query.cpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/interfaces/queries/impl/query.cpp
  shared_model/interfaces/queries/query.hpp
  shared_model/interfaces/queries/query_variant.hpp
Labels: needs-review, shared model

#1731 BFT YacGate
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  irohad/main/impl/consensus_init.cpp
  irohad/network/consensus_gate.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  test/framework/CMakeLists.txt
  test/module/irohad/CMakeLists.txt
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/multi_sig_transactions/mst_test_helpers.hpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: consensus

#1800 Remove QueryResponseBuilder from Iroha
  shared_model/builders/default_builders.hpp
  shared_model/builders/protobuf/CMakeLists.txt
  shared_model/builders/protobuf/builder_templates/query_response_template.hpp
  shared_model/builders/protobuf/query_responses/proto_block_query_response_builder.cpp
  shared_model/builders/protobuf/query_responses/proto_block_query_response_builder.hpp
  shared_model/builders/query_responses/block_query_response_builder.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/query_service_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/torii/torii_service_query_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/shared_model/builders/common_objects/CMakeLists.txt
  test/module/shared_model/builders/common_objects/query_response_builder_test.cpp
  test/module/shared_model/builders/protobuf/test_query_response_builder.hpp
Labels: needs-review, refactoring, shared model

#1779 testing: ITF now uses gRPC
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/irohad.cpp
  test/framework/CMakeLists.txt
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/framework/integration_framework/test_irohad.hpp
Labels: needs-review, tests

#1803 Use proposal factory for OnDemandOrderingService
  irohad/ordering/CMakeLists.txt
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  test/module/irohad/ordering/on_demand_os_test.cpp
Labels: ordering, refactoring

#1785 MST/transport: send source public key in MstState
  irohad/main/application.cpp
  irohad/multi_sig_transactions/hash.hpp
  irohad/multi_sig_transactions/impl/hash.cpp
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/mst_processor_impl.hpp
  irohad/multi_sig_transactions/storage/impl/mst_storage.cpp
  irohad/multi_sig_transactions/storage/impl/mst_storage_impl.cpp
  irohad/multi_sig_transactions/storage/mst_storage.hpp
  irohad/multi_sig_transactions/storage/mst_storage_impl.hpp
  irohad/multi_sig_transactions/transport/CMakeLists.txt
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/multi_sig_transactions/transport/mst_transport_grpc.hpp
  irohad/network/mst_transport.hpp
  schema/mst.proto
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  test/module/irohad/multi_sig_transactions/mst_mocks.hpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
  test/module/irohad/multi_sig_transactions/storage_test.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: mst, needs-review

#1807 Create thread once at GossipPropagation
  irohad/main/application.cpp
  irohad/multi_sig_transactions/gossip_propagation_strategy.hpp
  irohad/multi_sig_transactions/impl/gossip_propagation_strategy.cpp
  test/module/irohad/multi_sig_transactions/gossip_propagation_strategy_test.cpp
Labels: bug, mst

#1784 pimpl proto block
  iroha-cli/main.cpp
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/impl/block.cpp
Labels: shared model

#1799 Remove proto dependency in Posgtres Executors
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/postgres_command_executor.cpp
  irohad/ametsuchi/impl/postgres_command_executor.hpp
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  irohad/ametsuchi/impl/postgres_query_executor.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/main/application.cpp
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/impl/proto_permission_to_string.cpp
  shared_model/backend/protobuf/proto_permission_to_string.hpp
  shared_model/interfaces/permission_to_string.hpp
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
Labels: ametsuchi, needs-review, refactoring, shared model
