Repository hyperledger/iroha, pull requests merged in 2018-03, with the labels that each got.

#1022 Move HashType and BlobType out of Hashable
  irohad/network/block_loader.hpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/block_loader_impl.hpp
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/commands/proto_command.hpp
  shared_model/backend/protobuf/common_objects/account.hpp
  shared_model/backend/protobuf/common_objects/account_asset.hpp
  shared_model/backend/protobuf/common_objects/amount.hpp
  shared_model/backend/protobuf/common_objects/asset.hpp
  shared_model/backend/protobuf/proposal.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/query_responses/proto_query_response.hpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/cryptography/hash_providers/sha3_256.hpp
  shared_model/interfaces/base/hashable.hpp
  shared_model/interfaces/base/signable.hpp
  shared_model/interfaces/common_objects/types.hpp
  shared_model/interfaces/iroha_internal/block.hpp
  shared_model/interfaces/queries/get_transactions.hpp
  shared_model/interfaces/query_responses/query_response.hpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  test/module/irohad/network/network_mocks.hpp
Labels: in progress

#1025 Refactor constructors in shared_model/protobuf
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/commands/proto_add_asset_quantity.hpp
  shared_model/backend/protobuf/commands/proto_add_peer.hpp
  shared_model/backend/protobuf/commands/proto_add_signatory.hpp
  shared_model/backend/protobuf/commands/proto_append_role.hpp
  shared_model/backend/protobuf/commands/proto_command.hpp
  shared_model/backend/protobuf/commands/proto_create_account.hpp
  shared_model/backend/protobuf/commands/proto_create_asset.hpp
  shared_model/backend/protobuf/commands/proto_create_domain.hpp
  shared_model/backend/protobuf/commands/proto_create_role.hpp
  shared_model/backend/protobuf/commands/proto_detach_role.hpp
  shared_model/backend/protobuf/commands/proto_grant_permission.hpp
  shared_model/backend/protobuf/commands/proto_remove_signatory.hpp
  shared_model/backend/protobuf/commands/proto_revoke_permission.hpp
  shared_model/backend/protobuf/commands/proto_set_account_detail.hpp
  shared_model/backend/protobuf/commands/proto_set_quorum.hpp
  shared_model/backend/protobuf/commands/proto_subtract_asset_quantity.hpp
  shared_model/backend/protobuf/commands/proto_transfer_asset.hpp
  shared_model/backend/protobuf/common_objects/account.hpp
  shared_model/backend/protobuf/common_objects/account_asset.hpp
  shared_model/backend/protobuf/common_objects/amount.hpp
  shared_model/backend/protobuf/common_objects/asset.hpp
  shared_model/backend/protobuf/common_objects/peer.hpp
  shared_model/backend/protobuf/common_objects/signature.hpp
  shared_model/backend/protobuf/from_old_model.hpp
  shared_model/backend/protobuf/impl.cpp
  shared_model/backend/protobuf/proposal.hpp
  shared_model/backend/protobuf/queries/proto_get_account.hpp
  shared_model/backend/protobuf/queries/proto_get_account_asset_transactions.hpp
  shared_model/backend/protobuf/queries/proto_get_account_assets.hpp
  shared_model/backend/protobuf/queries/proto_get_account_detail.hpp
  shared_model/backend/protobuf/queries/proto_get_account_transactions.hpp
  shared_model/backend/protobuf/queries/proto_get_asset_info.hpp
  shared_model/backend/protobuf/queries/proto_get_role_permissions.hpp
  shared_model/backend/protobuf/queries/proto_get_signatories.hpp
  shared_model/backend/protobuf/queries/proto_get_transactions.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/query_responses/proto_account_asset_response.hpp
  shared_model/backend/protobuf/query_responses/proto_account_detail_response.hpp
  shared_model/backend/protobuf/query_responses/proto_account_response.hpp
  shared_model/backend/protobuf/query_responses/proto_asset_response.hpp
  shared_model/backend/protobuf/query_responses/proto_error_query_response.hpp
  shared_model/backend/protobuf/query_responses/proto_query_response.hpp
  shared_model/backend/protobuf/query_responses/proto_role_permissions_response.hpp
  shared_model/backend/protobuf/query_responses/proto_roles_response.hpp
  shared_model/backend/protobuf/query_responses/proto_signatories_response.hpp
  shared_model/backend/protobuf/query_responses/proto_transaction_response.hpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
Labels: in progress

#1019 Refactor permissions and add set account detail in genesis block
  example/genesis.block
  irohad/model/converters/impl/pb_command_factory.cpp
  irohad/model/permissions.hpp
  schema/primitive.proto
Labels: in progress

#1013 Feature/refactor using namespace
  irohad/model/converters/impl/json_command_factory.cpp
  libs/amount/amount.cpp
  libs/amount/amount.hpp
  test/framework/CMakeLists.txt
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/integration/client_test.cpp
  test/integration/pipeline/CMakeLists.txt
  test/integration/pipeline/transfer_asset_inter_domain_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.hpp
  test/module/shared_model/builders/protobuf/test_block_builder.hpp
  test/module/shared_model/builders/protobuf/test_proposal_builder.hpp
  test/module/shared_model/builders/protobuf/test_query_builder.hpp
  test/module/shared_model/builders/protobuf/test_transaction_builder.hpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
  test/module/shared_model/converters/json_proto_converter_test.cpp
Labels: in progress

#1029 fix names of grant permissions in protobuf and old model
  irohad/model/converters/impl/pb_command_factory.cpp
  schema/primitive.proto
Labels: in progress

#1020 Update pcs to shm
  irohad/model/commit.hpp
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/impl/peer_communication_service_impl.hpp
  irohad/network/peer_communication_service.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/synchronizer/synchronizer.hpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/validation/chain_validator.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/client_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.hpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/irohad/validation/validation_mocks.hpp
Labels: compl:easy, feature, needs-review

#991 recover WSV on startup
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/impl/wsv_restorer_impl.cpp
  irohad/ametsuchi/impl/wsv_restorer_impl.hpp
  irohad/ametsuchi/storage.hpp
  irohad/ametsuchi/wsv_restorer.hpp
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/irohad.cpp
  test/integration/pipeline/transfer_asset_inter_domain_test.cpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: needs-review

#988 Shared Model Wsv Query Refactoring
  iroha-cli/client.hpp
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/impl/peer_query_wsv.cpp
  irohad/ametsuchi/impl/postgres_wsv_common.hpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/wsv_query.hpp
  irohad/consensus/yac/impl/peer_orderer_impl.cpp
  irohad/main/impl/ordering_init.cpp
  irohad/model/execution/impl/command_executor.cpp
  irohad/model/impl/query_execution.cpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  libs/common/types.hpp
  schema/responses.proto
  shared_model/backend/protobuf/common_objects/domain.hpp
  shared_model/builders/common_objects/amount_builder.hpp
  shared_model/builders/common_objects/default_builders.hpp
  shared_model/builders/common_objects/domain_builder.hpp
  shared_model/builders/protobuf/CMakeLists.txt
  shared_model/builders/protobuf/common_objects/proto_domain_builder.hpp
  shared_model/builders/protobuf/common_objects/proto_peer_builder.hpp
  shared_model/builders/protobuf/impl.cpp
  shared_model/builders/protobuf/queries.hpp
  shared_model/interfaces/base/primitive.hpp
  shared_model/interfaces/common_objects/domain.hpp
  test/integration/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/model/command_validate_execute_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/ordering/ordering_gate_service_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/query_execution.cpp
Labels: needs-correction

#1036 Update query service
  irohad/torii/impl/query_service.cpp
  irohad/torii/query_service.hpp
  test/module/irohad/torii/query_service_test.cpp
Labels: in progress

#1037 Remove proposal builder from OS; fix ITF destructor
  irohad/ordering/impl/ordering_service_impl.cpp
  test/framework/integration_framework/integration_test_framework.hpp
Labels: in progress

#1035 feature/add-SupermajorityChecker
  irohad/consensus/consensus_common.hpp
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/impl/supermajority_checker_impl.cpp
  irohad/consensus/yac/impl/supermajority_checker_impl.hpp
  irohad/consensus/yac/storage/impl/yac_block_storage.cpp
  irohad/consensus/yac/storage/impl/yac_common.cpp
  irohad/consensus/yac/storage/impl/yac_proposal_storage.cpp
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/storage/yac_block_storage.hpp
  irohad/consensus/yac/storage/yac_common.hpp
  irohad/consensus/yac/storage/yac_proposal_storage.hpp
  irohad/consensus/yac/supermajority_checker.hpp
  irohad/main/application.cpp
  irohad/validation/CMakeLists.txt
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/supermajority_checker_test.cpp
  test/module/irohad/consensus/yac/yac_common_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/validation/chain_validation_test.cpp
Labels: needs-review

#1039 Fix/remove poly wrapper
  irohad/main/impl/block_loader_init.cpp
  irohad/network/block_loader.hpp
  irohad/network/impl/block_loader_impl.cpp
  irohad/network/impl/block_loader_impl.hpp
  libs/common/wrapper.hpp
  shared_model/validators/block_validator.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: in progress

#1040 Fixes build via ninja generator
  CMakeLists.txt
  cmake/Modules/Finded25519.cmake
  cmake/Modules/Findpq.cmake
  cmake/Modules/Findpqxx.cmake
  cmake/Modules/Findswig.cmake
  cmake/Modules/Findtbb.cmake
Labels: in progress

#1034 Fix invalid signature/pubkey size at Torii
  irohad/torii/impl/command_service.cpp
  shared_model/interfaces/utils/specified_visitor.hpp
  shared_model/validators/field_validator.cpp
  test/integration/CMakeLists.txt
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/invalid_fields_test.cpp
Labels: needs-review

#972 Feature/rework chain validator with new model
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/mutable_storage.hpp
  irohad/consensus/yac/impl/supermajority_checker_impl.cpp
  irohad/consensus/yac/impl/supermajority_checker_impl.hpp
  irohad/consensus/yac/supermajority_checker.hpp
  irohad/main/application.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/validation/chain_validator.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  shared_model/builders/common_objects/common.hpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/validation/CMakeLists.txt
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/validation_mocks.hpp
  test/module/shared_model/builders/protobuf/test_block_builder.hpp
Labels: needs-review

#1047 Documentation stubs
  cmake/README.md
  docker/README.md
  example/README.md
  iroha-cli/README.md
  irohad/README.md
  irohad/ametsuchi/README.md
  irohad/consensus/README.md
  irohad/consensus/yac/README.md
  irohad/main/README.md
  irohad/network/README.md
  irohad/ordering/README.md
  irohad/simulator/README.md
  irohad/synchronizer/README.md
  irohad/torii/README.md
  irohad/validation/README.md
  libs/README.md
  schema/README.md
  shared_model/README.md
  shared_model/backend/README.md
  shared_model/bindings/README.md
  shared_model/builders/README.md
  shared_model/converters/README.md
  shared_model/cryptography/README.md
  shared_model/interfaces/README.md
  shared_model/packages/README.md
  shared_model/utils/README.md
  shared_model/validators/README.md
  test/README.md
  test/framework/README.md
Labels: documentation, enhancement, in progress, needs-review

#1049 Allow to query all account JSON data
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/wsv_query.hpp
  irohad/model/converters/impl/json_query_factory.cpp
  irohad/model/converters/impl/pb_query_factory.cpp
  irohad/model/generators/impl/query_generator.cpp
  irohad/model/generators/query_generator.hpp
  irohad/model/impl/query_execution.cpp
  irohad/model/queries/get_account_detail.hpp
  schema/queries.proto
  shared_model/backend/protobuf/queries/proto_get_account_detail.hpp
  shared_model/bindings/model_query_builder.cpp
  shared_model/bindings/model_query_builder.hpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/interfaces/queries/get_account_detail.hpp
  shared_model/validators/query_validator.hpp
  test/integration/client_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/irohad/model/converters/json_query_factory_test.cpp
  test/module/irohad/model/converters/pb_query_factory_test.cpp
  test/module/shared_model/bindings/QueryTest.java
  test/module/shared_model/bindings/query-test.py
Labels: in progress

#1058 Remove ; to fix warning "unused-value"
  irohad/model/converters/impl/pb_command_factory.cpp
Labels: in progress

#1032 Tests for GetTransactions query
  irohad/ametsuchi/storage.hpp
  shared_model/utils/query_error_response_visitor.hpp
  shared_model/validators/answer.hpp
  test/framework/base_tx.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/CMakeLists.txt
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/get_transactions_test.cpp
Labels: in progress, needs-review

#1046 Storage to shared model
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/impl/wsv_restorer_impl.cpp
  irohad/ametsuchi/storage.hpp
  irohad/main/irohad.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/integration/pipeline/transfer_asset_inter_domain_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: in progress

#1067 Fix build error when no spdlog installed
  test/module/shared_model/cryptography/crypto_usage_test.cpp
Labels: in progress

#1054 Feature/rework simulator with shared model
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/simulator/block_creator.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  irohad/simulator/verified_proposal_creator.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/simulator/simulator_mocks.hpp
  test/module/irohad/simulator/simulator_test.cpp
Labels: in progress

#1069 Docker-develop dockerfile fixes and cmake dependencies readability improvement
  cmake/Modules/Findgrpc.cmake
  cmake/Modules/Findprotobuf.cmake
  docker/develop/Dockerfile
Labels: in progress

#1074 Remove txNumber
  shared_model/builders/protobuf/builder_templates/block_template.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/block_query_test.cpp
  test/module/irohad/ametsuchi/block_query_transfer_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/shared_model/builders/protobuf/transport_builder_test.cpp
  test/module/shared_model/converters/json_proto_converter_test.cpp
Labels: in progress

#1077 Fix/from old query
  shared_model/backend/protobuf/from_old_model.hpp
Labels: in progress

#1078 Edit dev dockerfile: Add libcurl with ssl, set cmake v to 3.7.2
  docker/develop/Dockerfile
Labels: needs-review

#1068 CI rework
  .jenkinsci/bindings.groovy
  .jenkinsci/cancel-builds-same-job.groovy
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-cleanup.groovy
  .jenkinsci/dockerize.groovy
  .jenkinsci/doxygen.groovy
  .jenkinsci/release-build.groovy
  .lcovrc
  CMakeLists.txt
  Jenkinsfile
  deploy/ansible/ansible.cfg
  deploy/ansible/inventory/hosts.list
  deploy/ansible/playbooks/iroha/host_vars/arm-2.yml
  deploy/ansible/playbooks/iroha/iroha-cluster.yml
  deploy/ansible/roles/docker/defaults/main.yml
  docker/develop/aarch64/Dockerfile
  docker/develop/armv7l/Dockerfile
  docker/develop/x86_64/Dockerfile
  docker/manifest.yaml
  docker/release/aarch64/Dockerfile
  docker/release/aarch64/entrypoint.sh
  docker/release/armv7l/Dockerfile
  docker/release/armv7l/entrypoint.sh
  docker/release/x86_64/Dockerfile
  docker/release/x86_64/entrypoint.sh
Labels: in progress

#1089 Move TransactionCollectionType to interface/types.h
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/query_responses/proto_transaction_response.hpp
  shared_model/interfaces/common_objects/signable_hash.hpp
  shared_model/interfaces/common_objects/types.hpp
  shared_model/interfaces/iroha_internal/block.hpp
  shared_model/interfaces/query_responses/transactions_response.hpp
Labels: in progress

#1093 Change port from 10001 to 50541 in tests
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/integration/pipeline/transfer_asset_inter_domain_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.hpp
Labels: in progress

#1095 Fix boost headers issues.
  libs/generator/CMakeLists.txt
  shared_model/cryptography/ed25519_sha3_impl/internal/CMakeLists.txt
  shared_model/cryptography/model_impl/CMakeLists.txt
Labels: in progress

#1082 Add detailed error at config parsing
  example/config.sample
  irohad/main/iroha_conf_loader.hpp
Labels: in progress, needs-review

#1096 Update itf
  shared_model/backend/protobuf/from_old_model.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/integration/pipeline/test_irohad.hpp
  test/integration/pipeline/transfer_asset_inter_domain_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
Labels: in progress

#1050 Shared model/new consensus gate
  irohad/consensus/consensus_common.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/network/consensus_gate.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  shared_model/backend/protobuf/block.hpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/interfaces/base/signable.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: in progress

#1083 Remove nonstd optional
  docker/develop/aarch64/Dockerfile
  docker/develop/armv7l/Dockerfile
  docker/develop/x86_64/Dockerfile
  snap/snapcraft.yaml
Labels: in progress

#1075 Shared model/maven
  example/java/build.gradle
Labels: in progress

#1097 Add relevant use cases
  docs/source/use_cases/index.rst
Labels: needs-correction

#1103 Jenkinsfile fixes
  .jenkinsci/bindings.groovy
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-cleanup.groovy
  .jenkinsci/release-build.groovy
  CMakeLists.txt
  Jenkinsfile
  docker/release/x86_64/Dockerfile
Labels: in progress

#1080 CreateRole acceptance tests
  shared_model/validators/field_validator.cpp
  shared_model/validators/field_validator.hpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/create_role_test.cpp
Labels: in progress, needs-review

#1087 Add CreateAccount acceptance tests
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/create_account_test.cpp
Labels: in progress, needs-review

#1088 Add CreateDomain acceptance tests
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/create_domain_test.cpp
Labels: in progress, needs-review

#1092 Feature/rework ordering gate with shared model
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/ordering_gate.hpp
  irohad/network/ordering_gate_transport.hpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_gate_impl.hpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  irohad/ordering/impl/ordering_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.hpp
  irohad/simulator/impl/simulator.cpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/ordering/ordering_gate_service_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
Labels: in progress

#1085 Add TransferAsset acceptance tests
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/transfer_asset_test.cpp
Labels: in progress, needs-review

#1086 Ansible update
  deploy/ansible/.gitignore
  deploy/ansible/README.md
  deploy/ansible/ansible.cfg
  deploy/ansible/inventory/group_vars/all.yml
  deploy/ansible/inventory/host_vars/node-1.yml
  deploy/ansible/inventory/host_vars/node-2.yml
  deploy/ansible/inventory/host_vars/node-3.yml
  deploy/ansible/inventory/hosts.list
  deploy/ansible/inventory/hosts_docker_cluster.list
  deploy/ansible/inventory/hosts_standalone_nodes.list
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/all.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-east.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-north.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-south.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-west.yml
  deploy/ansible/playbooks/iroha-docker-cluster/iroha-deploy.yml
  deploy/ansible/playbooks/iroha-docker-cluster/main.yml
  deploy/ansible/playbooks/iroha-standalone-nodes/group_vars/all.yml
  deploy/ansible/playbooks/iroha-standalone-nodes/iroha-deploy.yml
  deploy/ansible/playbooks/iroha-standalone-nodes/main.yml
  deploy/ansible/playbooks/iroha/host_vars/arm-2.yml
  deploy/ansible/playbooks/iroha/iroha-cluster.yml
  deploy/ansible/playbooks/iroha/main.yml
  deploy/ansible/roles/docker/README.md
  deploy/ansible/roles/docker/defaults/main.yml
  deploy/ansible/roles/docker/defaults/ubuntu.yml
  deploy/ansible/roles/docker/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-cluster-config-gen/README.md
  deploy/ansible/roles/iroha-cluster-config-gen/defaults/main.yml
  deploy/ansible/roles/iroha-cluster-config-gen/tasks/main.yml
  deploy/ansible/roles/iroha-cluster-config-gen/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-cluster-config-gen/templates/peers.list.j2
  deploy/ansible/roles/iroha-cluster-deploy-node/README.md
  deploy/ansible/roles/iroha-cluster-deploy-node/defaults/main.yml
  deploy/ansible/roles/iroha-cluster-deploy-node/tasks/main.yml
  deploy/ansible/roles/iroha-cluster-deploy-node/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-cluster-deploy-node/templates/config.j2
  deploy/ansible/roles/iroha-cluster-deploy-node/templates/docker-compose.yml.j2
  deploy/ansible/roles/iroha-node/defaults/main.yml
  deploy/ansible/roles/iroha-node/tasks/main.yml
  deploy/ansible/roles/iroha-node/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-node/templates/config.j2
  deploy/ansible/roles/iroha-node/templates/peers.list.j2
  deploy/ansible/roles/iroha-standalone-config-gen/README.md
  deploy/ansible/roles/iroha-standalone-config-gen/defaults/main.yml
  deploy/ansible/roles/iroha-standalone-config-gen/tasks/main.yml
  deploy/ansible/roles/iroha-standalone-config-gen/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-standalone-config-gen/templates/peers.list.j2
  deploy/ansible/roles/iroha-standalone-deploy-node/README.md
  deploy/ansible/roles/iroha-standalone-deploy-node/defaults/main.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/tasks/main.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/templates/config.j2
  deploy/ansible/roles/local/ansible-users/LICENSE
  deploy/ansible/roles/local/ansible-users/defaults/main.yml
  deploy/ansible/roles/local/ansible-users/meta/main.yml
  deploy/ansible/roles/local/ansible-users/tasks/main.yml
Labels: needs-correction

#1114 Lcov coverage as a CMake target
  .jenkinsci/debug-build.groovy
  CMakeLists.txt
  Jenkinsfile
Labels: build-system

#1121 Fix dependencies installation in release docker image
  docker/release/x86_64/Dockerfile
Labels: build-system

#1119 Prohibit TransferAsset with source equals destination
  shared_model/validators/transaction_validator.hpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: bug:confirmed

#1124 Fixes clang build
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: bug:confirmed

#1125 Add CommandService logging
  irohad/torii/command_service.hpp
  irohad/torii/impl/command_service.cpp
Labels: needs-review

#1052 Shared model/new consensus
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/cluster_order.cpp
  irohad/consensus/yac/impl/peer_orderer_impl.cpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/consensus/yac/transport/yac_network_interface.hpp
  irohad/consensus/yac/yac.hpp
  irohad/network/impl/block_loader_impl.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  shared_model/backend/protobuf/queries/proto_query.hpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/interfaces/common_objects/types.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/block_query_transfer_test.cpp
  test/module/irohad/consensus/yac/cluster_order_test.cpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: legacy, needs-review

#1004 Feature/acceptance tests
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/tx_acceptance_test.cpp
  test/module/shared_model/builders/protobuf/transaction_responses/proto_transaction_response_builder.cpp
Labels: needs-correction, tests

#1041 Feature/sv block proposal
  irohad/network/impl/block_loader_impl.cpp
  irohad/simulator/impl/simulator.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  shared_model/backend/protobuf/proposal.hpp
  shared_model/interfaces/iroha_internal/proposal.hpp
  shared_model/validators/block_validator.hpp
  shared_model/validators/container_validator.hpp
  shared_model/validators/default_validator.hpp
  shared_model/validators/proposal_validator.hpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.cpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/network/CMakeLists.txt
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/ordering_gate_service_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/simulator/CMakeLists.txt
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/shared_model/backend_proto/CMakeLists.txt
  test/module/shared_model/builders/protobuf/test_block_builder.hpp
  test/module/shared_model/converters/CMakeLists.txt
  test/module/shared_model/validators/validators.hpp
Labels: needs-review

#1091 Fix irohad failing on stopped postgres
  irohad/ordering/impl/ordering_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  test/module/irohad/ordering/ordering_service_test.cpp
Labels: bug:confirmed, needs-review

#1116 Shared model/new yac hash
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/cluster_order.cpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.cpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.hpp
  irohad/consensus/yac/transport/yac_pb_converters.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  libs/common/byteutils.hpp
  shared_model/builders/default_builders.hpp
  shared_model/cryptography/blob.hpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_hash_provider_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
Labels: legacy

#1120 Add AddAssetQuantity acceptance test
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/add_asset_qty_test.cpp
Labels: needs-review, tests

#1106 feat: Iroha build guide
  docs/source/guides/build.rst
  docs/source/guides/index.rst
Labels: documentation, needs-review

#830 Feature/get account asset txs cli
  iroha-cli/interactive/impl/interactive_query_cli.cpp
  iroha-cli/interactive/interactive_query_cli.hpp
  irohad/ametsuchi/block_query.hpp
  irohad/model/generators/impl/query_generator.cpp
  irohad/model/generators/query_generator.hpp
  irohad/model/queries/pager.hpp
  shared_model/interfaces/common_objects/pager.hpp
  test/module/irohad/ametsuchi/get_account_asset_transactions_test.cpp
  test/module/irohad/ametsuchi/get_account_transactions_test.cpp
  test/module/irohad/model/converters/json_query_factory_test.cpp
  test/module/irohad/model/converters/pb_query_factory_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/validation/query_execution_test.cpp
Labels: needs-review

#1135 shared model raw block loader
  irohad/main/impl/raw_block_loader.cpp
  irohad/main/irohad.cpp
  irohad/main/raw_block_loader.hpp
  test/module/irohad/common/raw_block_loader_test.cpp
Labels: legacy

#1136 Android Documentation
  docs/source/guides/libraries.rst
Labels: SDK, documentation, needs-review

#1111 Genesis block is now generated in new format
  example/admin@test.priv
  example/admin@test.pub
  example/genesis.block
  example/node0.priv
  example/node0.pub
  example/test@test.priv
  example/test@test.pub
  iroha-cli/main.cpp
Labels: needs-correction

#1140 fix docker network and postgres docker container name
  Jenkinsfile
Labels: build-system, in progress

#1133 Fix path to swig patch
  cmake/Modules/Findswig.cmake
Labels: build-system, needs-review

#1128 added night-time scheduled builds
  .jenkinsci/cancel-nightly-except-develop.groovy
  Jenkinsfile
Labels: build-system, needs-review

#1137 Feature/overview docs
  docs/source/overview.rst
Labels: documentation, in progress

#1142 Use ftp url for swig instead of tarball
  cmake/Modules/Findswig.cmake
Labels: in progress

#1073 Add Iroha build script for Android
  example/Android/.gitignore
  example/Android/android-build.sh
Labels: SDK, build-system

#1101 Feature/python doc
  docs/source/guides/dependencies.rst
  docs/source/guides/index.rst
  docs/source/guides/libraries.rst
  example/python/tx-example.py
Labels: SDK, documentation, needs-review

#1139 Feature/java doc
  docs/source/getting_started/index.rst
  docs/source/guides/libraries.rst
  example/java/.gitignore
  example/java/build_library.sh
Labels: SDK, documentation, in progress, needs-correction

#1138 iOS build script
  shared_model/packages/ios/.gitignore
  shared_model/packages/ios/ios-build.sh
Labels: SDK, build-system, in progress

#1147 Move Android build script from examples
  docs/source/guides/libraries.rst
  shared_model/packages/android/.gitignore
  shared_model/packages/android/android-build.sh
Labels: SDK, in progress

#1059 Replace old model to shared model in synchronizer
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/synchronizer/synchronizer.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  test/module/irohad/synchronizer/CMakeLists.txt
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: legacy

#1146 Feature/move to shared model smallfixes
  irohad/ametsuchi/impl/postgres_wsv_command.cpp
  irohad/ametsuchi/impl/postgres_wsv_command.hpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/consensus/consensus_common.hpp
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  irohad/execution/common_executor.hpp
  irohad/execution/impl/command_executor.cpp
  irohad/execution/impl/common_executor.cpp
  irohad/main/application.hpp
  irohad/network/consensus_gate.hpp
  irohad/torii/command_service.hpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/validation/impl/stateful_validator_impl.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/shared_model/cryptography/crypto_model_signer_mock.hpp
Labels: in progress

#1143 Migrating gRPC Commands API reference from Slate (Iroha API)
  docs/source/api/commands.rst
  docs/source/api/index.rst
Labels: documentation

#1149 Fix/query execution wsv rework
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/main/application.cpp
  irohad/model/impl/query_execution.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor_impl.hpp
  test/integration/client_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
Labels: in progress

#1155 Add Glossary to Documentation
  docs/source/core_concepts/glossary.rst
Labels: documentation, needs-correction, needs-review

#1130 Shared model/new query executor
  irohad/model/impl/query_execution.cpp
  irohad/model/query_execution.hpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  shared_model/builders/protobuf/builder_templates/query_response_template.hpp
  test/module/irohad/validation/query_execution.cpp
  test/module/shared_model/builders/common_objects/query_response_builder_test.cpp
Labels: candidate-for-closing

#1151 Fix/update test with itf
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/pipeline/CMakeLists.txt
  test/integration/pipeline/pipeline_test.cpp
  test/integration/pipeline/test_irohad.hpp
  test/integration/pipeline/transfer_asset_inter_domain_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.cpp
  test/integration/pipeline/tx_pipeline_integration_test_fixture.hpp
Labels: legacy, tests

#1160 Shared model/query processor signature
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/query_processor_impl.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  test/integration/acceptance/get_transactions_test.cpp
  test/integration/client_test.cpp
  test/integration/pipeline/tx_pipeline_integration_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
Labels: needs-review

#1122 Selected branches coverage
  .jenkinsci/selected-branches-coverage.groovy
  Jenkinsfile
Labels: build-system
