Repository hyperledger/iroha, pull requests merged in 2018-09, with the labels that each got.

#1666 Feature/queries acceptance tests
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/queries_acceptance_test.cpp
Labels: needs-correction, tests

#1696 Add GetAssetInfo acceptance test
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/get_asset_info_test.cpp
Labels: query, tests

#1704 Add RemoveSignatory acceptance test
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/remove_signatory_test.cpp
Labels: command, needs-review, tests

#1698 Add AddSignatory acceptance test
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/add_signatory_test.cpp
Labels: command, tests

#1649 MST Pending Status
  irohad/torii/command_service.hpp
  irohad/torii/impl/command_service.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor_impl.hpp
  shared_model/backend/protobuf/transaction_responses/proto_concrete_tx_response.hpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.cpp
  shared_model/builders/protobuf/transaction_responses/proto_transaction_status_builder.hpp
  shared_model/builders/transaction_responses/transaction_status_builder.hpp
  shared_model/interfaces/transaction_responses/enough_signatures_collected_response.hpp
  shared_model/interfaces/transaction_responses/mst_pending_response.hpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  shared_model/schema/endpoint.proto
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/integration/pipeline/pipeline_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/regression/regression_test.cpp
Labels: mst

#1661 Integration tests for GetPendingTransactions()
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/mst_processor_impl.hpp
  irohad/multi_sig_transactions/mst_types.hpp
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/multi_sig_transactions/storage/impl/mst_storage.cpp
  irohad/multi_sig_transactions/storage/mst_storage.hpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
  test/module/irohad/multi_sig_transactions/state_test.cpp
Labels: needs-review, query, tests

#1717 Feature/transaction reject
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/impl/proto_tx_status_factory.cpp
  shared_model/backend/protobuf/proto_tx_status_factory.hpp
  shared_model/backend/protobuf/transaction_responses/proto_concrete_tx_response.hpp
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/interfaces/iroha_internal/tx_status_factory.hpp
  shared_model/interfaces/transaction_responses/not_received_tx_response.hpp
  shared_model/interfaces/transaction_responses/rejected_tx_response.hpp
  shared_model/interfaces/transaction_responses/stateful_failed_tx_response.hpp
  shared_model/interfaces/transaction_responses/stateful_valid_tx_response.hpp
  shared_model/interfaces/transaction_responses/stateless_failed_tx_response.hpp
  shared_model/interfaces/transaction_responses/stateless_valid_tx_response.hpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  shared_model/schema/endpoint.proto
  test/module/shared_model/builders/protobuf/CMakeLists.txt
  test/module/shared_model/builders/protobuf/transaction_responses/proto_transaction_response_factory_test.cpp
Labels: needs-review

#1714 Fix compiling errors on clang
  irohad/multi_sig_transactions/impl/gossip_propagation_strategy.cpp
  shared_model/validators/signable_validator.hpp
Labels: needs-review

#1718 Remove propagateTransaction method
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/impl/peer_communication_service_impl.hpp
  irohad/network/ordering_gate.hpp
  irohad/network/ordering_gate_transport.hpp
  irohad/network/peer_communication_service.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_gate_impl.hpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.hpp
  schema/ordering.proto
  test/integration/CMakeLists.txt
  test/integration/transport/CMakeLists.txt
  test/integration/transport/ordering_gate_service_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: legacy

#1721 Fix MST propagate state
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
Labels: bug, mst, needs-review

#1702 Make consistent interfaces in MST and PCS
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/impl/peer_communication_service_impl.hpp
  irohad/network/ordering_gate.hpp
  irohad/network/ordering_gate_transport.hpp
  irohad/network/peer_communication_service.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_gate_impl.hpp
  irohad/ordering/impl/ordering_gate_transport_grpc.cpp
  irohad/ordering/impl/ordering_gate_transport_grpc.hpp
  irohad/torii/command_service.hpp
  irohad/torii/impl/command_service.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor.hpp
  irohad/torii/processor/transaction_processor_impl.hpp
  shared_model/interfaces/common_objects/transaction_sequence_common.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  test/framework/batch_helper.hpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
  test/module/shared_model/backend_proto/proto_transaction_sequence_test.cpp
Labels: needs-review

#1692 Move external dependencies dir
  clean.sh
  shared_model/clean.sh
  shared_model/cmake/dependencies.cmake
Labels: infrastructure, needs-review

#1726 Nexus artifact server
  .jenkinsci/artifacts.groovy
  Jenkinsfile
Labels: SDK, infrastructure

#1713 Remove unused parameter from Iroha CLI
  iroha-cli/interactive/impl/interactive_transaction_cli.cpp
Labels: cli, needs-review

#1723 Add more acceptance tests for SetAccountDetail
  test/integration/acceptance/set_account_detail_test.cpp
Labels: command, needs-review, tests

#1710 Add tests for GetRolePermissions query
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/get_role_permissions_test.cpp
Labels: needs-review, query, tests

#1709 Add test for running Iroha with --overwrite-ledger flag
  test/system/irohad_test.cpp
Labels: needs-review, tests

#1727 Fix storage connection disposal
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/postgres_block_query.cpp
  irohad/ametsuchi/impl/postgres_block_query.hpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/impl/temporary_wsv_impl.cpp
  irohad/ametsuchi/impl/temporary_wsv_impl.hpp
  irohad/ametsuchi/storage.hpp
  irohad/main/application.cpp
  irohad/main/application.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
Labels: ametsuchi

#1733 Jenkins on-demand AWS agents
  .jenkinsci/selected-branches-coverage.groovy
  Jenkinsfile
Labels: infrastructure, needs-review

#1724 Query Responses Factory
  shared_model/backend/protobuf/CMakeLists.txt
  shared_model/backend/protobuf/impl/proto_query_response_factory.cpp
  shared_model/backend/protobuf/proto_query_response_factory.hpp
  shared_model/interfaces/iroha_internal/query_response_factory.hpp
  test/module/shared_model/backend_proto/CMakeLists.txt
  test/module/shared_model/backend_proto/proto_query_response_factory_test.cpp
Labels: needs-review, query

#1730 Remove proto usages from yac tests
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/impl/yac_crypto_provider_impl.cpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/impl/yac_hash_provider_impl.cpp
  libs/common/cloneable.hpp
  shared_model/interfaces/base/signable.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/cluster_order_test.cpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/consensus/yac/supermajority_checker_test.cpp
  test/module/irohad/consensus/yac/timer_test.cpp
  test/module/irohad/consensus/yac/yac_block_storage_test.cpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_hash_provider_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_proposal_storage_test.cpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: consensus, needs-review, tests

#1738 Skip EnoughSig response in processBatch
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: needs-review
