Repository hyperledger/iroha, pull requests merged in 2018-08, with the labels that each got.

#1624 Fix regression test
  test/regression/regression_test.cpp
Labels: bug, needs-review, tests

#1577 Update command service
  irohad/torii/impl/command_service.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor.hpp
  irohad/torii/processor/transaction_processor_impl.hpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: needs-review

#1477 Make scripts fail if any of bash cmds fail
  example/java/build_library.sh
  example/java/prepare.sh
Labels: SDK, infrastructure, needs-review

#1641 Improve permissions doc compiler
  docs/permissions_compiler/compiler.py
  docs/permissions_compiler/rst.py
  docs/source/maintenance/permissions.rst
Labels: documentation, needs-review

#1644 Documentation - links to GetAccountDetail
  docs/source/maintenance/permissions.rst
  docs/source/permissions/matrix.csv
Labels: documentation, needs-review

#1646 Fix the rest of thread scheduling issues for torii service test
  test/module/irohad/torii/torii_service_test.cpp
Labels: bug

#1640 Fix --overwrite-ledger option behavior
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/storage.hpp
  irohad/main/irohad.cpp
Labels: bug, needs-review

#1637 Add tests for revoke permissions
  shared_model/backend/protobuf/transaction_responses/proto_tx_response.hpp
  shared_model/interfaces/transaction_responses/tx_response.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/grant_permission_test.cpp
  test/integration/acceptance/grantable_permissions_fixture.cpp
  test/integration/acceptance/grantable_permissions_fixture.hpp
  test/integration/acceptance/revoke_permission_test.cpp
Labels: needs-review, tests

#1623 Proposal gate
  iroha-cli/interactive/impl/interactive_common_cli.cpp
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/impl/yac_gate_impl.hpp
  irohad/consensus/yac/impl/yac_proposal_gate_impl.cpp
  irohad/consensus/yac/impl/yac_proposal_gate_impl.hpp
  irohad/consensus/yac/impl/yac_proposal_hash_provider_impl.cpp
  irohad/consensus/yac/impl/yac_proposal_hash_provider_impl.hpp
  irohad/consensus/yac/yac_proposal_hash_provider.hpp
  irohad/model/converters/impl/json_command_factory.cpp
  irohad/model/converters/impl/json_query_factory.cpp
  irohad/model/converters/json_common.hpp
  irohad/network/proposal_gate.hpp
  libs/common/types.hpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_proposal_gate_test.cpp
  test/module/irohad/consensus/yac/yac_proposal_hash_provider_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: needs-review, ordering

#1643 Add CreateAsset acceptance tests
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/create_asset_test.cpp
Labels: needs-review, tests

#1663 Add getAccountAssetTransactions tests
  shared_model/backend/protobuf/query_responses/impl/proto_error_query_response.cpp
  shared_model/backend/protobuf/query_responses/proto_error_query_response.hpp
  shared_model/interfaces/query_responses/error_query_response.hpp
  shared_model/interfaces/query_responses/impl/error_query_response.cpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/get_account_asset_txs_test.cpp
  test/integration/acceptance/get_account_assets_test.cpp
  test/integration/acceptance/grantable_permissions_fixture.cpp
  test/integration/acceptance/grantable_permissions_fixture.hpp
  test/integration/acceptance/revoke_permission_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/module/irohad/torii/torii_service_test.cpp
Labels: needs-review, tests

#1664 Feature/docs revoke perm link
  docs/source/maintenance/permissions.rst
  docs/source/permissions/matrix.csv
  example/python/permissions/can_grant_can_add_my_signatory.py
  example/python/permissions/can_grant_can_remove_my_signatory.py
  example/python/permissions/can_grant_can_set_my_account_detail.py
  example/python/permissions/can_grant_can_set_my_quorum.py
  example/python/permissions/can_grant_can_transfer_my_assets.py
  test/integration/binary/binaries_test.cpp
Labels: documentation, needs-review

#1671 Batch pipeline tests
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/ordering/impl/ordering_service_impl.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  shared_model/interfaces/iroha_internal/transaction_sequence.hpp
  test/framework/batch_helper.hpp
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/pipeline/CMakeLists.txt
  test/integration/pipeline/batch_pipeline_test.cpp
  test/module/shared_model/backend_proto/proto_batch_test.cpp
  test/regression/regression_test.cpp
Labels: tests

#1667 Upgrade CMake to version 3.11.4
  CMakeLists.txt
  docker/android/Dockerfile
  docker/dependencies/Dockerfile
  docker/develop/Dockerfile
  docs/source/guides/dependencies.rst
  docs/source/guides/libraries/swift_ios.rst
  shared_model/CMakeLists.txt
Labels: version bump

#1680 Add thread component in boost bootstrapping
  docs/source/guides/build.rst
  shared_model/packages/javascript/scripts/install-dependencies.sh
  snap/snapcraft.yaml
Labels: needs-review

#1598 Add Storage for Pending Transactions
  irohad/CMakeLists.txt
  irohad/execution/CMakeLists.txt
  irohad/execution/impl/query_execution_impl.cpp
  irohad/execution/query_execution_impl.hpp
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/pending_txs_storage/CMakeLists.txt
  irohad/pending_txs_storage/impl/pending_txs_storage_impl.cpp
  irohad/pending_txs_storage/impl/pending_txs_storage_impl.hpp
  irohad/pending_txs_storage/pending_txs_storage.hpp
  shared_model/interfaces/iroha_internal/transaction_batch.hpp
  test/module/iroha-cli/client_test.cpp
  test/module/irohad/CMakeLists.txt
  test/module/irohad/execution/query_execution_test.cpp
  test/module/irohad/multi_sig_transactions/mst_test_helpers.hpp
  test/module/irohad/pending_txs_storage/CMakeLists.txt
  test/module/irohad/pending_txs_storage/pending_txs_storage_mock.hpp
  test/module/irohad/pending_txs_storage/pending_txs_storage_test.cpp
  test/module/irohad/torii/torii_queries_test.cpp
Labels: mst

#1683 Feature GetAccount test
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/acceptance_fixture.cpp
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/get_account_test.cpp
Labels: needs-review, query, tests

#1673 Add SendTx and SendQuery system tests
  libs/crypto/CMakeLists.txt
  libs/crypto/keys_manager.hpp
  libs/crypto/keys_manager_impl.cpp
  libs/crypto/keys_manager_impl.hpp
  test/module/libs/crypto/CMakeLists.txt
  test/module/libs/crypto/keys_manager_test.cpp
  test/system/CMakeLists.txt
  test/system/irohad_test.cpp
Labels: needs-review, tests

#1693 HOTFIX: make dev branch equivalent to develop
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/doxygen.groovy
  .jenkinsci/linux-post-step.groovy
  .jenkinsci/release-build.groovy
  Jenkinsfile
Labels: infrastructure, needs-review

#1670 Fix BFT OS algorithm and interfaces
  cmake/functions.cmake
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.hpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  irohad/ordering/impl/on_demand_os_server_grpc.hpp
  irohad/ordering/on_demand_ordering_service.hpp
  irohad/ordering/on_demand_os_transport.hpp
  schema/ordering.proto
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
  test/module/irohad/ordering/on_demand_os_client_grpc_test.cpp
  test/module/irohad/ordering/on_demand_os_server_grpc_test.cpp
  test/module/irohad/ordering/on_demand_os_test.cpp
  test/module/irohad/ordering/ordering_mocks.hpp
Labels: bug, needs-review, ordering

#1690 Eliminate fields naming inconsistency in proto files
  docs/source/api/commands.rst
  example/genesis.block
  irohad/model/converters/impl/pb_block_factory.cpp
  irohad/model/converters/impl/pb_command_factory.cpp
  irohad/model/converters/impl/pb_query_factory.cpp
  irohad/model/converters/impl/pb_transaction_factory.cpp
  irohad/torii/impl/query_service.cpp
  shared_model/backend/protobuf/commands/impl/proto_create_account.cpp
  shared_model/backend/protobuf/commands/impl/proto_remove_signatory.cpp
  shared_model/backend/protobuf/commands/impl/proto_set_quorum.cpp
  shared_model/backend/protobuf/commands/proto_set_quorum.hpp
  shared_model/backend/protobuf/common_objects/proto_common_objects_factory.hpp
  shared_model/backend/protobuf/common_objects/signature.hpp
  shared_model/backend/protobuf/empty_block.hpp
  shared_model/backend/protobuf/impl/block.cpp
  shared_model/backend/protobuf/queries/impl/proto_blocks_query.cpp
  shared_model/backend/protobuf/queries/impl/proto_get_signatories.cpp
  shared_model/backend/protobuf/queries/impl/proto_query.cpp
  shared_model/backend/protobuf/query_responses/impl/proto_block_error_response.cpp
  shared_model/backend/protobuf/transaction.hpp
  shared_model/bindings/client_api.cpp
  shared_model/builders/protobuf/builder_templates/query_template.hpp
  shared_model/builders/protobuf/builder_templates/transaction_template.hpp
  shared_model/builders/protobuf/query_responses/proto_block_query_response_builder.cpp
  shared_model/schema/commands.proto
  shared_model/schema/primitive.proto
  shared_model/schema/qry_responses.proto
  shared_model/schema/queries.proto
  test/integration/acceptance/invalid_fields_test.cpp
  test/module/irohad/torii/torii_service_query_test.cpp
  test/module/shared_model/backend_proto/shared_proto_queries_test.cpp
  test/module/shared_model/backend_proto/shared_proto_transaction_test.cpp
  test/module/shared_model/builders/protobuf/common_objects/proto_signature_builder.hpp
  test/module/shared_model/validators/field_validator_test.cpp
  test/module/shared_model/validators/validators_fixture.hpp
Labels: API, needs-review

#1675 On-demand ordering gate and related fixes
  irohad/network/ordering_gate.hpp
  irohad/ordering/CMakeLists.txt
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.hpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  irohad/ordering/impl/ordering_gate_impl.cpp
  irohad/ordering/impl/ordering_service_transport_grpc.cpp
  irohad/ordering/on_demand_ordering_service.hpp
  irohad/ordering/on_demand_os_transport.hpp
  libs/common/visitor.hpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/iroha_internal/transaction_batch.cpp
  shared_model/interfaces/iroha_internal/transaction_batch.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory.cpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory.hpp
  shared_model/interfaces/iroha_internal/transaction_sequence.cpp
  test/framework/batch_helper.hpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/ordering/CMakeLists.txt
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/on_demand_os_client_grpc_test.cpp
  test/module/irohad/ordering/on_demand_os_server_grpc_test.cpp
  test/module/irohad/ordering/on_demand_os_test.cpp
  test/module/irohad/ordering/ordering_mocks.hpp
  test/module/shared_model/backend_proto/proto_batch_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: needs-review, ordering
