Repository hyperledger/iroha, pull requests merged in 2019-01, with the labels that each got.

#1862 init connections only once
  irohad/ametsuchi/impl/storage_impl.cpp
  test/framework/test_subscriber.hpp
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: ametsuchi

#2005 Fix Query & Tx signer in iroha-cli
  iroha-cli/interactive/impl/interactive_status_cli.cpp
  irohad/model/converters/impl/pb_query_factory.cpp
  irohad/model/converters/impl/pb_transaction_factory.cpp
  libs/common/blob.hpp
  libs/common/byteutils.hpp
  libs/common/hexutils.hpp
Labels: cli

#2007 Make genesis block error message more user friendly
  irohad/main/irohad.cpp
Labels: needs-review

#2004 Enable replay test
  test/integration/acceptance/replay_test.cpp
Labels: needs-review, tests

#2012 Fix, docker pull in CI
  .jenkinsci/docker-pull-or-build.groovy
Labels: needs-review

#1976 ITF: fake peer on demand OS usage example
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.cpp
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: tests

#2016 Move some WsvQuer-ies to test namespace
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.cpp
  irohad/ametsuchi/impl/postgres_wsv_query.hpp
  irohad/ametsuchi/storage.hpp
  irohad/ametsuchi/wsv_query.hpp
  test/framework/CMakeLists.txt
  test/framework/sql_query.cpp
  test/framework/sql_query.hpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/kv_storage_test.cpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
Labels: refactoring

#2003 Add CHECK_TXS macro to acceptance fixture. Reduce code duplication
  test/integration/acceptance/acceptance_fixture.hpp
  test/integration/acceptance/add_signatory_test.cpp
  test/integration/acceptance/create_account_test.cpp
  test/integration/acceptance/get_account_test.cpp
  test/integration/acceptance/remove_signatory_test.cpp
  test/integration/acceptance/replay_test.cpp
  test/integration/acceptance/set_account_quorum_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
Labels: refactoring

#1978 Add new transaction statuses and JSONB field info
  docs/image_assets/transaction_status.sketch
  docs/image_assets/tx_status.png
  docs/source/core_concepts/er_model.rst
  docs/source/core_concepts/glossary.rst
  docs/source/locale.yaml
Labels: documentation

#1974 Refactored ITF fake peer initialization
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: needs-review

#2013 Irohad field reorder
  irohad/main/application.cpp
  irohad/main/application.hpp
Labels: refactoring

#1999 Feature/remove common object builders
  irohad/main/application.cpp
  irohad/main/application.hpp
  test/integration/acceptance/query_permission_test_ast.cpp
  test/integration/acceptance/query_permission_test_ast.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/irohad/multi_sig_transactions/gossip_propagation_strategy_test.cpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
  test/module/irohad/multi_sig_transactions/mst_test_helpers.hpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/shared_model/builders/CMakeLists.txt
  test/module/shared_model/builders/common_objects/CMakeLists.txt
  test/module/shared_model/builders/common_objects/account_asset_builder.hpp
  test/module/shared_model/builders/common_objects/account_asset_builder_test.cpp
  test/module/shared_model/builders/common_objects/account_builder.hpp
  test/module/shared_model/builders/common_objects/account_builder_test.cpp
  test/module/shared_model/builders/common_objects/asset_builder.hpp
  test/module/shared_model/builders/common_objects/asset_builder_test.cpp
  test/module/shared_model/builders/common_objects/builders_test_fixture.hpp
  test/module/shared_model/builders/common_objects/common.hpp
  test/module/shared_model/builders/common_objects/domain_builder.hpp
  test/module/shared_model/builders/common_objects/peer_builder.hpp
  test/module/shared_model/builders/common_objects/peer_builder_test.cpp
  test/module/shared_model/builders/common_objects/signature_builder.hpp
  test/module/shared_model/builders/common_objects/signature_builder_test.cpp
  test/module/shared_model/builders/protobuf/CMakeLists.txt
  test/module/shared_model/builders/protobuf/common_objects/proto_account_asset_builder.hpp
  test/module/shared_model/builders/protobuf/common_objects/proto_account_asset_builder_test.cpp
  test/module/shared_model/builders/protobuf/common_objects/proto_account_builder.hpp
  test/module/shared_model/builders/protobuf/common_objects/proto_account_builder_test.cpp
  test/module/shared_model/builders/protobuf/common_objects/proto_asset_builder.hpp
  test/module/shared_model/builders/protobuf/common_objects/proto_asset_builder_test.cpp
  test/module/shared_model/builders/protobuf/common_objects/proto_domain_builder.hpp
  test/module/shared_model/builders/protobuf/common_objects/proto_peer_builder.hpp
  test/module/shared_model/builders/protobuf/common_objects/proto_peer_builder_test.cpp
  test/module/shared_model/builders/protobuf/common_objects/proto_signature_builder.hpp
  test/module/shared_model/builders/protobuf/common_objects/proto_signature_builder_test.cpp
  test/module/shared_model/builders/protobuf/test_account_asset_builder.hpp
  test/module/shared_model/builders/protobuf/test_account_builder.hpp
  test/module/shared_model/builders/protobuf/test_asset_builder.hpp
  test/module/shared_model/builders/protobuf/test_domain_builder.hpp
  test/module/shared_model/builders/protobuf/test_peer_builder.hpp
  test/module/shared_model/builders/protobuf/test_signature_builder.hpp
  test/module/shared_model/cryptography/security_signatures_test.cpp
  test/module/shared_model/interface_mocks.hpp
  test/system/irohad_test_data/config.sample.copy
Labels: refactoring, tests

#1986 Deployment scripts rework
  deploy/ansible/.gitignore
  deploy/ansible/README.md
  deploy/ansible/inventory/hosts_docker_cluster.list
  deploy/ansible/inventory/hosts_standalone_nodes.list
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/all.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-east.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-north.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-south.yml
  deploy/ansible/playbooks/iroha-docker-cluster/group_vars/iroha-west.yml
  deploy/ansible/playbooks/iroha-docker-cluster/iroha-deploy.yml
  deploy/ansible/playbooks/iroha-docker/main.yml
  deploy/ansible/playbooks/iroha-standalone-nodes/group_vars/all.yml
  deploy/ansible/playbooks/iroha-standalone-nodes/iroha-deploy.yml
  deploy/ansible/playbooks/iroha-standalone-nodes/main.yml
  deploy/ansible/roles/docker/README.md
  deploy/ansible/roles/docker/defaults/main.yml
  deploy/ansible/roles/docker/defaults/ubuntu.yml
  deploy/ansible/roles/docker/tasks/install_compose.yml
  deploy/ansible/roles/docker/tasks/install_docker.yml
  deploy/ansible/roles/docker/tasks/main.yml
  deploy/ansible/roles/docker/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-cluster-config-gen/README.md
  deploy/ansible/roles/iroha-cluster-config-gen/defaults/main.yml
  deploy/ansible/roles/iroha-cluster-config-gen/tasks/main.yml
  deploy/ansible/roles/iroha-cluster-config-gen/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-cluster-config-gen/templates/peers.list.j2
  deploy/ansible/roles/iroha-cluster-deploy-node/README.md
  deploy/ansible/roles/iroha-cluster-deploy-node/defaults/main.yml
  deploy/ansible/roles/iroha-cluster-deploy-node/tasks/main.yml
  deploy/ansible/roles/iroha-cluster-deploy-node/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-cluster-deploy-node/templates/config.j2
  deploy/ansible/roles/iroha-cluster-deploy-node/templates/docker-compose.yml.j2
  deploy/ansible/roles/iroha-docker/README.md
  deploy/ansible/roles/iroha-docker/defaults/main.yml
  deploy/ansible/roles/iroha-docker/files/config_gen.sh
  deploy/ansible/roles/iroha-docker/files/ed25519.py
  deploy/ansible/roles/iroha-docker/files/genesis-add-peers.py
  deploy/ansible/roles/iroha-docker/files/genesis.block
  deploy/ansible/roles/iroha-docker/files/old-keys-format.patch
  deploy/ansible/roles/iroha-docker/tasks/config-gen.yml
  deploy/ansible/roles/iroha-docker/tasks/deploy.yml
  deploy/ansible/roles/iroha-docker/tasks/main.yml
  deploy/ansible/roles/iroha-docker/templates/config.docker.j2
  deploy/ansible/roles/iroha-docker/templates/docker-compose.yml.j2
  deploy/ansible/roles/iroha-standalone-config-gen/README.md
  deploy/ansible/roles/iroha-standalone-config-gen/defaults/main.yml
  deploy/ansible/roles/iroha-standalone-config-gen/tasks/main.yml
  deploy/ansible/roles/iroha-standalone-config-gen/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-standalone-config-gen/templates/peers.list.j2
  deploy/ansible/roles/iroha-standalone-deploy-node/README.md
  deploy/ansible/roles/iroha-standalone-deploy-node/defaults/main.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/tasks/main.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/tasks/ubuntu.yml
  deploy/ansible/roles/iroha-standalone-deploy-node/templates/config.j2
Labels: infrastructure, needs-correction

#2027 DOPS-202: Jenkins GUI For Build with Parameters
  .jenkinsci/build.groovy
  .jenkinsci/builders/x64-linux-build-steps.groovy
  .jenkinsci/builders/x64-mac-build-steps.groovy
  .jenkinsci/text-variables.groovy
  .jenkinsci/utils/vars.groovy
  Jenkinsfile
Labels: infrastructure, needs-correction, reviewers-wanted

#2030 DOPS-243 Custom github notifications
  .jenkinsci/builders/x64-linux-build-steps.groovy
  Jenkinsfile
Labels: infrastructure, needs-review

#1861 removed the Python module
  shared_model/packages/python/README.md
  shared_model/packages/python/setup.py
Labels: SDK

#2038 Clean "dev" back to "develop"
  .jenkinsci/debug-build.groovy
  .jenkinsci/docker-pull-or-build.groovy
  .jenkinsci/doxygen.groovy
  .jenkinsci/linux-post-step.groovy
  .jenkinsci/release-build.groovy
  Jenkinsfile
Labels: needs-review, refactoring

#2033 Fix tx status streaming
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/torii/impl/command_service_transport_grpc.cpp
  irohad/torii/impl/command_service_transport_grpc.hpp
  test/module/irohad/torii/torii_transport_command_test.cpp
Labels: bug, needs-review

#2036 New logger forward headers
  libs/logger/logger.hpp
  libs/logger/logger_fwd.hpp
  libs/logger/logger_manager.hpp
  libs/logger/logger_manager_fwd.hpp
Labels: refactoring

#2024 Feature/iroha tests coredump
  .jenkinsci/debug-build.groovy
  .jenkinsci/linux-post-step.groovy
  Jenkinsfile
Labels: infrastructure, needs-correction

#2055 Hotfix for segfault and atomic batches
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/main/impl/on_demand_ordering_init.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.hpp
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/impl/command_service_transport_grpc.cpp
  irohad/torii/impl/command_service_transport_grpc.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  shared_model/backend/protobuf/proto_transport_factory.hpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory_impl.cpp
  shared_model/interfaces/iroha_internal/transaction_batch_factory_impl.hpp
  shared_model/validators/CMakeLists.txt
  shared_model/validators/proposal_validator.hpp
  shared_model/validators/protobuf/proto_proposal_validator.cpp
  shared_model/validators/protobuf/proto_proposal_validator.hpp
  shared_model/validators/transaction_batch_validator.cpp
  shared_model/validators/transaction_batch_validator.hpp
  shared_model/validators/transactions_collection/transactions_collection_validator.cpp
  test/module/irohad/ordering/on_demand_os_client_grpc_test.cpp
  test/module/irohad/torii/torii_mocks.hpp
  test/module/irohad/torii/torii_transport_command_test.cpp
  test/module/irohad/validation/stateful_validator_test.cpp
  test/module/shared_model/validators/CMakeLists.txt
  test/module/shared_model/validators/proposal_validator_test.cpp
Labels: bug, pri:critical

#2037 New libs for the new logger
  cmake/Modules/Findfmt.cmake
  cmake/Modules/Findspdlog.cmake
  cmake/dependencies.cmake
  libs/logger/CMakeLists.txt
  libs/logger/logger.hpp
  libs/logger/logger_spdlog.cpp
Labels: needs-review, version bump

#2040 New logger: configuration file loader
  irohad/main/CMakeLists.txt
  irohad/main/application.hpp
  irohad/main/assert_config.hpp
  irohad/main/iroha_conf_literals.cpp
  irohad/main/iroha_conf_literals.hpp
  irohad/main/iroha_conf_loader.cpp
  irohad/main/iroha_conf_loader.hpp
  irohad/main/irohad.cpp
  test/system/CMakeLists.txt
  test/system/irohad_test.cpp
Labels: needs-review

#2045 Fixed thread safety in ITF Fake Peer proposal storage
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.cpp
  test/framework/integration_framework/fake_peer/proposal_storage.cpp
  test/framework/integration_framework/fake_peer/proposal_storage.hpp
  test/framework/integration_framework/fake_peer/types.hpp
Labels: needs-review

#2049 Fix/itf fake peer block storage safety
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/framework/integration_framework/fake_peer/block_storage.cpp
  test/framework/integration_framework/fake_peer/block_storage.hpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/fake_peer/network/loader_grpc.cpp
  test/framework/integration_framework/fake_peer/types.hpp
Labels: bug, needs-review

#2057 Refactor crypto provider usage in Simulator
  irohad/main/application.hpp
  irohad/simulator/impl/simulator.cpp
  irohad/simulator/impl/simulator.hpp
  shared_model/cryptography/crypto_provider/abstract_crypto_model_signer.hpp
  shared_model/cryptography/crypto_provider/crypto_model_signer.hpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/shared_model/cryptography/crypto_model_signer_mock.hpp
  test/module/shared_model/cryptography/mock_abstract_crypto_model_signer.hpp
Labels: needs-review

#2022 Tests MSVC build
  cmake/dependencies.cmake
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/network/impl/async_grpc_client.hpp
  libs/common/hexutils.hpp
  shared_model/backend/protobuf/proto_transport_factory.hpp
  shared_model/cryptography/crypto_provider/crypto_model_signer.hpp
  test/framework/config_helper.cpp
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/ametsuchi_mocks.hpp
  test/module/irohad/ametsuchi/block_query_test.cpp
  test/module/irohad/ametsuchi/mock_block_query.hpp
  test/module/irohad/ametsuchi/mock_block_query_factory.hpp
  test/module/irohad/ametsuchi/mock_key_value_storage.hpp
  test/module/irohad/ametsuchi/mock_mutable_factory.hpp
  test/module/irohad/ametsuchi/mock_mutable_storage.hpp
  test/module/irohad/ametsuchi/mock_peer_query.hpp
  test/module/irohad/ametsuchi/mock_peer_query_factory.hpp
  test/module/irohad/ametsuchi/mock_query_executor.hpp
  test/module/irohad/ametsuchi/mock_storage.hpp
  test/module/irohad/ametsuchi/mock_temporary_factory.hpp
  test/module/irohad/ametsuchi/mock_tx_presence_cache.hpp
  test/module/irohad/ametsuchi/mock_wsv_query.hpp
  test/module/irohad/ametsuchi/postgres_executor_test.cpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
  test/module/irohad/ametsuchi/tx_presence_cache_test.cpp
  test/module/irohad/ametsuchi/wsv_query_command_test.cpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/network/block_loader_test.cpp
  test/module/irohad/ordering/mock_on_demand_os_notification.hpp
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/on_demand_os_server_grpc_test.cpp
  test/module/irohad/ordering/ordering_mocks.hpp
  test/module/irohad/ordering/ordering_service_test.cpp
  test/module/irohad/simulator/simulator_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/torii/processor/mock_query_processor.hpp
  test/module/irohad/torii/processor/query_processor_test.cpp
  test/module/irohad/torii/query_service_test.cpp
  test/module/irohad/torii/torii_mocks.hpp
  test/module/irohad/torii/torii_queries_test.cpp
  test/module/irohad/torii/torii_service_query_test.cpp
  test/module/irohad/torii/torii_transport_command_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/irohad/validation/mock_stateful_validator.hpp
  test/module/irohad/validation/validation_mocks.hpp
  test/module/libs/cache/single_pointer_cache_test.cpp
  test/system/irohad_test.cpp
Labels: windows

#2047 Python sha3 dependency to docker
  docker/dependencies/Dockerfile
  docker/develop/Dockerfile
Labels: SDK, infrastructure

#2041 Retrieve Ledger state from storage on commit in synchronizer
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/ledger_state.hpp
  irohad/ametsuchi/mutable_factory.hpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  irohad/synchronizer/synchronizer_common.hpp
  test/module/irohad/ametsuchi/mock_mutable_factory.hpp
  test/module/irohad/ametsuchi/mock_storage.hpp
  test/module/irohad/ordering/ordering_gate_test.cpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/system/irohad_test_data/config.sample.copy
Labels: ametsuchi

#2025 IR-156: Remove node.js library
  CMakeLists.txt
  cmake/Modules/Findnodejs.cmake
  docs/source/api/queries.rst
  docs/source/guides/libraries.rst
  docs/source/guides/libraries/javascript.rst
  docs/source/guides/libraries/nodejs.rst
  example/node/.gitignore
  example/node/README.md
  example/node/index.js
  example/node/package.json
  shared_model/bindings/CMakeLists.txt
  shared_model/packages/javascript/.gitignore
  shared_model/packages/javascript/LICENSE
  shared_model/packages/javascript/README.md
  shared_model/packages/javascript/binding.gyp
  shared_model/packages/javascript/example/admin@test.priv
  shared_model/packages/javascript/example/admin@test.pub
  shared_model/packages/javascript/example/index.js
  shared_model/packages/javascript/index.js
  shared_model/packages/javascript/package.json
  shared_model/packages/javascript/pb/.npmignore
  shared_model/packages/javascript/scripts/clean.sh
  shared_model/packages/javascript/scripts/generate-protobuf.sh
  shared_model/packages/javascript/scripts/install-dependencies.sh
  shared_model/packages/javascript/tests/crypto.js
  shared_model/packages/javascript/tests/queryBuilder.js
  shared_model/packages/javascript/tests/txbuilder.js
  test/module/shared_model/bindings/CMakeLists.txt
Labels: SDK, needs-review
