Repository hyperledger/iroha, pull requests merged in 2019-02, with the labels that each got.

#2026 Refactoring/yac mocks
  irohad/consensus/yac/impl/peer_orderer_impl.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/consensus/yac/outcome_messages.hpp
  irohad/consensus/yac/storage/impl/yac_common.cpp
  irohad/consensus/yac/storage/yac_block_storage.hpp
  irohad/consensus/yac/storage/yac_vote_storage.hpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/consensus/yac/transport/yac_pb_converters.hpp
  irohad/consensus/yac/vote_message.hpp
  irohad/consensus/yac/yac.hpp
  irohad/consensus/yac/yac_gate.hpp
  irohad/consensus/yac/yac_peer_orderer.hpp
  irohad/main/impl/consensus_init.hpp
  shared_model/interfaces/iroha_internal/unsafe_proposal_factory.hpp
  test/framework/integration_framework/fake_peer/yac_network_notifier.cpp
  test/fuzzing/consensus_fuzz.cpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/cluster_order_test.cpp
  test/module/irohad/consensus/yac/mock_yac_crypto_provider.hpp
  test/module/irohad/consensus/yac/mock_yac_hash_gate.hpp
  test/module/irohad/consensus/yac/mock_yac_hash_provider.hpp
  test/module/irohad/consensus/yac/mock_yac_network.hpp
  test/module/irohad/consensus/yac/mock_yac_peer_orderer.hpp
  test/module/irohad/consensus/yac/mock_yac_supermajority_checker.hpp
  test/module/irohad/consensus/yac/mock_yac_timer.hpp
  test/module/irohad/consensus/yac/network_test.cpp
  test/module/irohad/consensus/yac/peer_orderer_test.cpp
  test/module/irohad/consensus/yac/supermajority_checker_test.cpp
  test/module/irohad/consensus/yac/timer_test.cpp
  test/module/irohad/consensus/yac/yac_block_storage_test.cpp
  test/module/irohad/consensus/yac/yac_common_test.cpp
  test/module/irohad/consensus/yac/yac_crypto_provider_test.cpp
  test/module/irohad/consensus/yac/yac_fixture.hpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_hash_provider_test.cpp
  test/module/irohad/consensus/yac/yac_mocks.hpp
  test/module/irohad/consensus/yac/yac_proposal_storage_test.cpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/consensus/yac/yac_test_util.hpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/shared_model/interface_mocks.hpp
Labels: refactoring

#2068 Ansible docs correction
  deploy/ansible/roles/iroha-docker/README.md
Labels: documentation, needs-review

#2039 IR-150 Fix security vulnerability
  docs/source/requirements.txt
Labels: version bump

#2073 Fix Status Stream Performance Degradation
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/impl/command_service_transport_grpc.cpp
Labels: needs-review

#2076 Storage: fixed drop deadlock
  irohad/ametsuchi/impl/peer_query_wsv.cpp
  irohad/ametsuchi/impl/storage_impl.cpp
Labels: bug, needs-review

#2070 ITF fake peer: applying new aliasing rules
  test/framework/integration_framework/fake_peer/behaviour/behaviour.hpp
  test/framework/integration_framework/fake_peer/behaviour/empty.cpp
  test/framework/integration_framework/fake_peer/behaviour/empty.hpp
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/framework/integration_framework/fake_peer/behaviour/honest.hpp
  test/framework/integration_framework/fake_peer/block_storage.cpp
  test/framework/integration_framework/fake_peer/block_storage.hpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/fake_peer/fake_peer.hpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.hpp
  test/framework/integration_framework/fake_peer/types.hpp
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: refactoring

#2082 Fix Memory Leak in irohad
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/impl/consensus_init.cpp
  irohad/main/impl/consensus_init.hpp
Labels: bug, needs-review

#2079 Micro fix: move things
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
Labels: needs-review

#2084 OrderingService: fixed old proposals wipe
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
Labels: bug, needs-review

#2086 Fix the rest of memory leaks
  irohad/main/impl/consensus_init.hpp
  irohad/torii/impl/status_bus_impl.cpp
  irohad/torii/impl/status_bus_impl.hpp
Labels: bug, needs-review

#2080 Storage: fix assertion
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
Labels: needs-review

#2081 OnDemandOrderingServiceImpl: reworked emitProposal
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
Labels: needs-review, refactoring

#2085 Reworked proposal sharing
  irohad/network/ordering_gate_common.cpp
  irohad/network/ordering_gate_common.hpp
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  irohad/ordering/impl/on_demand_os_client_grpc.cpp
  irohad/ordering/impl/on_demand_os_client_grpc.hpp
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  irohad/ordering/on_demand_os_transport.hpp
  irohad/simulator/block_creator_common.hpp
  irohad/validation/impl/stateful_validator_impl.cpp
  irohad/validation/stateful_validator_common.hpp
  shared_model/backend/protobuf/proto_proposal_factory.hpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/module/irohad/consensus/yac/yac_gate_test.cpp
  test/module/irohad/consensus/yac/yac_hash_provider_test.cpp
  test/module/irohad/ordering/mock_on_demand_os_notification.hpp
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
  test/module/irohad/ordering/on_demand_os_server_grpc_test.cpp
  test/module/irohad/ordering/ordering_mocks.hpp
  test/module/irohad/simulator/simulator_test.cpp
Labels: needs-review

#2034 Comments on reworking integration tests
  test/integration/acceptance/add_asset_qty_test.cpp
  test/integration/acceptance/add_signatory_test.cpp
  test/integration/acceptance/create_account_test.cpp
  test/integration/acceptance/create_asset_test.cpp
  test/integration/acceptance/create_domain_test.cpp
  test/integration/acceptance/create_role_test.cpp
  test/integration/acceptance/get_account_asset_txs_test.cpp
  test/integration/acceptance/get_account_assets_test.cpp
  test/integration/acceptance/get_account_test.cpp
  test/integration/acceptance/get_asset_info_test.cpp
  test/integration/acceptance/get_role_permissions_test.cpp
  test/integration/acceptance/get_roles_test.cpp
  test/integration/acceptance/get_transactions_test.cpp
  test/integration/acceptance/grant_permission_test.cpp
  test/integration/acceptance/invalid_fields_test.cpp
  test/integration/acceptance/queries_acceptance_test.cpp
  test/integration/acceptance/query_permission_common_tests.cpp
  test/integration/acceptance/query_test.cpp
  test/integration/acceptance/remove_signatory_test.cpp
  test/integration/acceptance/revoke_permission_test.cpp
  test/integration/acceptance/set_account_detail_test.cpp
  test/integration/acceptance/set_account_quorum_test.cpp
  test/integration/acceptance/subtract_asset_qty_test.cpp
  test/integration/acceptance/transfer_asset_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
Labels: needs-review, refactoring, tests

#2072 Feature/logger new impl integration irohad test
  test/system/CMakeLists.txt
  test/system/irohad_test.cpp
Labels: needs-review

#2108 New logger to iroha-cli
  iroha-cli/CMakeLists.txt
  iroha-cli/client.cpp
  iroha-cli/client.hpp
  iroha-cli/grpc_response_handler.hpp
  iroha-cli/impl/grpc_response_handler.cpp
  iroha-cli/impl/query_response_handler.cpp
  iroha-cli/impl/transaction_response_handler.cpp
  iroha-cli/interactive/impl/interactive_cli.cpp
  iroha-cli/interactive/impl/interactive_query_cli.cpp
  iroha-cli/interactive/impl/interactive_status_cli.cpp
  iroha-cli/interactive/impl/interactive_transaction_cli.cpp
  iroha-cli/interactive/interactive_cli.hpp
  iroha-cli/interactive/interactive_query_cli.hpp
  iroha-cli/interactive/interactive_status_cli.hpp
  iroha-cli/interactive/interactive_transaction_cli.hpp
  iroha-cli/main.cpp
  iroha-cli/query_response_handler.hpp
  iroha-cli/transaction_response_handler.hpp
  irohad/model/converters/impl/json_query_factory.cpp
  irohad/model/converters/impl/pb_query_factory.cpp
  irohad/model/converters/json_query_factory.hpp
  irohad/model/generators/impl/transaction_generator.cpp
  irohad/model/generators/transaction_generator.hpp
  irohad/model/sha3_hash.cpp
Labels: needs-review

#2116 Fixes to the new logger
  irohad/ametsuchi/impl/postgres_query_executor.cpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/main/iroha_conf_loader.cpp
  irohad/main/iroha_conf_loader.hpp
  irohad/main/irohad.cpp
  libs/logger/CMakeLists.txt
  libs/logger/logger_spdlog.cpp
Labels: needs-review

#2104 Alternative way to fix busy waiting in tx status stream loop
  irohad/torii/impl/command_service_transport_grpc.cpp
  libs/common/combine_latest_until_first_completed.hpp
  test/module/libs/common/CMakeLists.txt
  test/module/libs/common/combine_latest_until_first_completed_test.cpp
Labels: needs-review

#2094 Add two more Ordering Gate configuration parameters
  example/config.docker
  example/config.sample
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/main/impl/on_demand_ordering_init.hpp
  irohad/main/iroha_conf_loader.hpp
  irohad/main/irohad.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/framework/integration_framework/test_irohad.hpp
Labels: needs-review

#2102 Fix command service infinite replay
  irohad/main/application.cpp
  irohad/torii/impl/command_service_impl.cpp
  irohad/torii/impl/command_service_impl.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/integration/acceptance/create_role_test.cpp
  test/integration/acceptance/replay_test.cpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/pipeline/batch_pipeline_test.cpp
  test/integration/pipeline/multisig_tx_pipeline_test.cpp
  test/integration/pipeline/pipeline_test.cpp
  test/module/irohad/torii/CMakeLists.txt
  test/module/irohad/torii/command_service_replay_test.cpp
  test/module/irohad/torii/torii_mocks.hpp
  test/regression/regression_test.cpp
Labels: needs-review
