Repository hyperledger/iroha, pull requests merged in 2019-04, with the labels that each got.

#2060 Feature/yac network testable
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/main/impl/consensus_init.cpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/network_test.cpp
Labels: consensus, tests

#2204 MST storage cleanup & refactor
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/multi_sig_transactions/storage/impl/mst_storage.cpp
  irohad/multi_sig_transactions/storage/impl/mst_storage_impl.cpp
  irohad/multi_sig_transactions/storage/mst_storage.hpp
  irohad/multi_sig_transactions/storage/mst_storage_impl.hpp
  irohad/pending_txs_storage/impl/pending_txs_storage_impl.cpp
  test/module/irohad/multi_sig_transactions/completer_test.cpp
  test/module/irohad/multi_sig_transactions/mst_test_helpers.hpp
  test/module/irohad/multi_sig_transactions/state_test.cpp
  test/module/irohad/multi_sig_transactions/storage_test.cpp
Labels: mst, needs-review, refactoring

#2198 Ordering Service max proposal size
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  test/integration/pipeline/batch_pipeline_test.cpp
Labels: needs-review

#2210 Add Synchronization on Rejects
  irohad/consensus/gate_object.hpp
  irohad/consensus/yac/impl/yac_gate_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: needs-review

#2202 MST: Limit stored transactions
  irohad/main/application.cpp
  irohad/main/application.hpp
  irohad/main/iroha_conf_literals.cpp
  irohad/main/iroha_conf_literals.hpp
  irohad/main/iroha_conf_loader.cpp
  irohad/main/iroha_conf_loader.hpp
  irohad/main/irohad.cpp
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/mst_processor_impl.hpp
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/multi_sig_transactions/storage/impl/mst_storage_impl.cpp
  irohad/multi_sig_transactions/storage/mst_storage_impl.hpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/multi_sig_transactions/transport/mst_transport_grpc.hpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/fuzzing/mst_fuzz.cpp
  test/module/irohad/multi_sig_transactions/mst_processor_test.cpp
  test/module/irohad/multi_sig_transactions/state_test.cpp
  test/module/irohad/multi_sig_transactions/storage_test.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
  test/module/irohad/pending_txs_storage/pending_txs_storage_test.cpp
Labels: mst, needs-review

#2165 Ordering gate: subscription on commits
  irohad/main/application.cpp
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/main/impl/on_demand_ordering_init.hpp
  irohad/network/impl/peer_communication_service_impl.cpp
  irohad/network/impl/peer_communication_service_impl.hpp
  irohad/network/peer_communication_service.hpp
  irohad/ordering/impl/on_demand_ordering_gate.cpp
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/test_irohad.hpp
  test/fuzzing/torii_fuzz.cpp
  test/integration/acceptance/query_permission_test_base.hpp
  test/integration/acceptance/tx_acceptance_test.cpp
  test/integration/binary/binaries_test_fixture.hpp
  test/module/irohad/network/network_mocks.hpp
  test/module/irohad/ordering/on_demand_ordering_gate_test.cpp
Labels: needs-review, ordering

#2067 Fix itf fake peers on demand ordering test
  test/framework/integration_framework/fake_peer/behaviour/behaviour.cpp
  test/framework/integration_framework/fake_peer/behaviour/behaviour.hpp
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/fake_peer/fake_peer.hpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.hpp
  test/framework/integration_framework/fake_peer/proposal_storage.cpp
  test/framework/integration_framework/fake_peer/proposal_storage.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: bug, needs-review, tests

#2032 ITF Fake Peers: behaviours & internal communication capabilities
  irohad/ordering/impl/on_demand_os_server_grpc.cpp
  shared_model/interfaces/CMakeLists.txt
  shared_model/interfaces/iroha_internal/transaction_batch.cpp
  shared_model/interfaces/iroha_internal/transaction_batch.hpp
  test/framework/CMakeLists.txt
  test/framework/integration_framework/fake_peer/behaviour/behaviour.cpp
  test/framework/integration_framework/fake_peer/behaviour/behaviour.hpp
  test/framework/integration_framework/fake_peer/behaviour/empty.cpp
  test/framework/integration_framework/fake_peer/behaviour/empty.hpp
  test/framework/integration_framework/fake_peer/behaviour/honest.cpp
  test/framework/integration_framework/fake_peer/behaviour/honest.hpp
  test/framework/integration_framework/fake_peer/block_storage.cpp
  test/framework/integration_framework/fake_peer/block_storage.hpp
  test/framework/integration_framework/fake_peer/fake_peer.cpp
  test/framework/integration_framework/fake_peer/fake_peer.hpp
  test/framework/integration_framework/fake_peer/network/loader_grpc.cpp
  test/framework/integration_framework/fake_peer/network/loader_grpc.hpp
  test/framework/integration_framework/fake_peer/network/mst_message.hpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/mst_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/on_demand_os_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_gate_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/ordering_service_network_notifier.hpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.cpp
  test/framework/integration_framework/fake_peer/network/yac_network_notifier.hpp
  test/framework/integration_framework/fake_peer/proposal_storage.cpp
  test/framework/integration_framework/fake_peer/proposal_storage.hpp
  test/framework/integration_framework/fake_peer/types.hpp
  test/framework/integration_framework/fake_peer/yac_network_notifier.cpp
  test/framework/integration_framework/fake_peer/yac_network_notifier.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/integration_test_framework.hpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/integration/acceptance/CMakeLists.txt
  test/integration/acceptance/basic_mst_state_propagation.cpp
  test/integration/acceptance/fake_peer_example_test.cpp
Labels: tests

#2168 Fix/coredumps add binaries
  .jenkinsci-new/builders/x64-linux-build-steps.groovy
  .jenkinsci-new/text-variables.groovy
  Jenkinsfile-new
Labels: infrastructure, needs-review

#2214 Fix mac build agents
  .jenkinsci-new/builders/x64-mac-build-steps.groovy
Labels: infrastructure, needs-review

#2208 MstState: fixed issues.
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  test/module/irohad/multi_sig_transactions/completer_test.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: mst, needs-review

#2203 MstState: iteration methods for batches & txs
  irohad/multi_sig_transactions/impl/mst_processor_impl.cpp
  irohad/multi_sig_transactions/state/impl/mst_state.cpp
  irohad/multi_sig_transactions/state/mst_state.hpp
  irohad/multi_sig_transactions/transport/impl/mst_transport_grpc.cpp
  irohad/pending_txs_storage/impl/pending_txs_storage_impl.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  test/module/irohad/multi_sig_transactions/transport_test.cpp
Labels: needs-review, refactoring

#2217 fixup! MstState: iteration methods for batches & txs (#2203)
  irohad/multi_sig_transactions/state/mst_state.hpp
Labels: bug

#2213 Ametsuchi: handle insertion failure
  irohad/ametsuchi/impl/storage_impl.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: ametsuchi, needs-review
