Repository hyperledger/iroha, pull requests merged in 2019-03, with the labels that each got.

#1947 Feature/yac storage cleanup
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/impl/cluster_order.cpp
  irohad/consensus/yac/storage/buffered_cleanup_strategy.hpp
  irohad/consensus/yac/storage/cleanup_strategy.hpp
  irohad/consensus/yac/storage/impl/buffered_cleanup_strategy.cpp
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/storage/yac_vote_storage.hpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/transport/impl/network_impl.hpp
  irohad/consensus/yac/yac_hash_provider.hpp
  irohad/main/impl/consensus_init.cpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/CMakeLists.txt
  test/module/irohad/consensus/yac/buffered_cleanup_strategy_test.cpp
  test/module/irohad/consensus/yac/yac_fixture.hpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_test_util.hpp
Labels: consensus

#2125 Pluggable consensus
  irohad/consensus/yac/CMakeLists.txt
  irohad/consensus/yac/consistency_model.hpp
  irohad/consensus/yac/impl/supermajority_checker_bft.cpp
  irohad/consensus/yac/impl/supermajority_checker_bft.hpp
  irohad/consensus/yac/impl/supermajority_checker_cft.cpp
  irohad/consensus/yac/impl/supermajority_checker_cft.hpp
  irohad/consensus/yac/impl/supermajority_checker_getter.cpp
  irohad/consensus/yac/impl/supermajority_checker_impl.cpp
  irohad/consensus/yac/impl/supermajority_checker_impl.hpp
  irohad/consensus/yac/impl/supermajority_checker_kf1.hpp
  irohad/consensus/yac/storage/impl/yac_block_storage.cpp
  irohad/consensus/yac/storage/impl/yac_proposal_storage.cpp
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/storage/yac_block_storage.hpp
  irohad/consensus/yac/storage/yac_proposal_storage.hpp
  irohad/consensus/yac/storage/yac_vote_storage.hpp
  irohad/consensus/yac/supermajority_checker.hpp
  irohad/main/application.cpp
  irohad/main/impl/consensus_init.cpp
  irohad/main/impl/consensus_init.hpp
  irohad/validation/CMakeLists.txt
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/utils.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/integration/validation/chain_validator_storage_test.cpp
  test/module/irohad/consensus/yac/mock_yac_supermajority_checker.hpp
  test/module/irohad/consensus/yac/supermajority_checker_test.cpp
  test/module/irohad/consensus/yac/yac_block_storage_test.cpp
  test/module/irohad/consensus/yac/yac_fixture.hpp
  test/module/irohad/consensus/yac/yac_proposal_storage_test.cpp
  test/module/irohad/consensus/yac/yac_rainy_day_test.cpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_sunny_day_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
Labels: bug, needs-review

#2136 Fuzzing fix
  test/fuzzing/find_fuzz.cpp
  test/fuzzing/mst_fuzz.cpp
  test/fuzzing/status_fuzz.cpp
  test/fuzzing/torii_fuzz.cpp
Labels: needs-review

#2148 Decrease quantity of allocated proto query objects
  shared_model/backend/protobuf/queries/impl/proto_query.cpp
Labels: needs-review

#2143 Torii: TransactionProcessorImpl listens for storage commits
  irohad/main/application.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor_impl.hpp
  test/fuzzing/status_fuzz.cpp
  test/fuzzing/torii_fuzz.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
Labels: needs-review

#2127 Provide git version info
  irohad/main/CMakeLists.txt
  irohad/main/irohad.cpp
  libs/common/CMakeLists.txt
  libs/common/irohad_version.cpp
  libs/common/irohad_version.hpp
Labels: needs-review

#2129 Documentation for Iroha installation security tips
  docs/source/guides/index.rst
  docs/source/guides/sec-install.rst
Labels: documentation

#2152 Llogger: fixed patterns
  docs/source/guides/configuration.rst
  irohad/main/iroha_conf_loader.cpp
  libs/logger/logger_manager.cpp
  libs/logger/logger_spdlog.cpp
  libs/logger/logger_spdlog.hpp
Labels: bug, needs-review

#2134 YAC: filter votes from unknown peers
  example/python/permissions/commons.py
  irohad/consensus/yac/cluster_order.hpp
  irohad/consensus/yac/impl/cluster_order.cpp
  irohad/consensus/yac/impl/yac.cpp
  irohad/consensus/yac/storage/impl/yac_vote_storage.cpp
  irohad/consensus/yac/transport/impl/network_impl.cpp
  irohad/consensus/yac/yac.hpp
  test/integration/consensus/consensus_sunny_day.cpp
  test/module/irohad/consensus/yac/mock_yac_crypto_provider.hpp
  test/module/irohad/consensus/yac/yac_fixture.hpp
  test/module/irohad/consensus/yac/yac_simple_cold_case_test.cpp
  test/module/irohad/consensus/yac/yac_unknown_peer_test.cpp
Labels: consensus, needs-review

#1994 Create block storage dependency for mutable storage
  irohad/ametsuchi/CMakeLists.txt
  irohad/ametsuchi/block_storage.hpp
  irohad/ametsuchi/block_storage_factory.hpp
  irohad/ametsuchi/impl/in_memory_block_storage.cpp
  irohad/ametsuchi/impl/in_memory_block_storage.hpp
  irohad/ametsuchi/impl/in_memory_block_storage_factory.cpp
  irohad/ametsuchi/impl/in_memory_block_storage_factory.hpp
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/main/application.cpp
  test/module/irohad/ametsuchi/CMakeLists.txt
  test/module/irohad/ametsuchi/ametsuchi_fixture.hpp
  test/module/irohad/ametsuchi/in_memory_block_storage_test.cpp
  test/module/irohad/ametsuchi/storage_init_test.cpp
Labels: ametsuchi, needs-review

#2164 Fix member init order warning
  irohad/ordering/impl/on_demand_ordering_gate.hpp
  test/framework/integration_framework/iroha_instance.cpp
Labels: needs-review, refactoring

#2173 Docs for new config file params
  docs/source/guides/configuration.rst
Labels: documentation, needs-review

#2177 removed block copy in BlocksQuery
  irohad/torii/processor/impl/query_processor_impl.cpp
  shared_model/backend/protobuf/impl/proto_query_response_factory.cpp
  shared_model/backend/protobuf/proto_query_response_factory.hpp
  shared_model/interfaces/iroha_internal/query_response_factory.hpp
Labels: needs-review

#2174 StorageImpl: faster cleanup
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/main/application.cpp
Labels: needs-review

#2179 Storage: notify block commit after actual commit
  irohad/ametsuchi/impl/storage_impl.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
Labels: needs-review

#2178 Storage: avoid block copying
  irohad/ametsuchi/block_storage.hpp
  irohad/ametsuchi/impl/in_memory_block_storage.cpp
  irohad/ametsuchi/impl/in_memory_block_storage.hpp
  irohad/ametsuchi/impl/mutable_storage_impl.cpp
  irohad/ametsuchi/impl/mutable_storage_impl.hpp
  irohad/ametsuchi/impl/storage_impl.cpp
  irohad/ametsuchi/impl/storage_impl.hpp
  irohad/ametsuchi/mutable_factory.hpp
  irohad/ametsuchi/mutable_storage.hpp
  irohad/ametsuchi/storage.hpp
  irohad/main/irohad.cpp
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/torii/processor/impl/query_processor_impl.cpp
  irohad/torii/processor/impl/transaction_processor_impl.cpp
  irohad/torii/processor/transaction_processor_impl.hpp
  irohad/validation/impl/chain_validator_impl.cpp
  irohad/validation/impl/chain_validator_impl.hpp
  shared_model/backend/protobuf/impl/proto_query_response_factory.cpp
  shared_model/backend/protobuf/proto_query_response_factory.hpp
  shared_model/interfaces/iroha_internal/query_response_factory.hpp
  test/framework/integration_framework/integration_test_framework.cpp
  test/framework/integration_framework/iroha_instance.cpp
  test/framework/integration_framework/iroha_instance.hpp
  test/integration/validation/chain_validator_storage_test.cpp
  test/module/irohad/ametsuchi/ametsuchi_test.cpp
  test/module/irohad/ametsuchi/mock_mutable_factory.hpp
  test/module/irohad/ametsuchi/mock_mutable_storage.hpp
  test/module/irohad/ametsuchi/mock_storage.hpp
  test/module/irohad/ametsuchi/postgres_query_executor_test.cpp
  test/module/irohad/torii/processor/transaction_processor_test.cpp
  test/module/irohad/validation/chain_validation_test.cpp
  test/module/shared_model/builders/protobuf/test_block_builder.hpp
Labels: needs-review

#2181 Refactor block streaming method
  irohad/torii/impl/command_service_transport_grpc.cpp
  irohad/torii/impl/query_service.cpp
  libs/common/run_loop_handler.hpp
Labels: needs-review

#2193 Fix verbosity command line argument
  irohad/main/irohad.cpp
Labels: needs-review

#2163 Synchronizer: observable passthrough to ChainValidator
  irohad/synchronizer/impl/synchronizer_impl.cpp
  irohad/synchronizer/impl/synchronizer_impl.hpp
  test/module/irohad/synchronizer/synchronizer_test.cpp
Labels: needs-review

#2194 Docs: fixed optional parameters description
  docs/source/guides/configuration.rst
Labels: documentation, needs-review

#2195 CommandServiceImpl: fix observer lifetime problem
  irohad/torii/impl/command_service_impl.cpp
Labels: bug, needs-review

#2197 Ordering: batches propagation for (reject, commit) case
  irohad/main/impl/on_demand_ordering_init.cpp
  irohad/ordering/impl/on_demand_connection_manager.cpp
  irohad/ordering/impl/on_demand_connection_manager.hpp
  test/module/irohad/ordering/on_demand_connection_manager_test.cpp
Labels: needs-review, ordering

#2199 OS: Transactions are not lost when received in reject rounds
  irohad/ordering/impl/on_demand_ordering_service_impl.cpp
  irohad/ordering/impl/on_demand_ordering_service_impl.hpp
  test/module/irohad/ordering/on_demand_os_test.cpp
Labels: needs-review
